<mat-card>
  <mat-card-content>
    <mat-card-title>
      Seznam uživatelských účtů
    </mat-card-title>

    <ng-container *ngIf="isLoading else ready">
      <mat-spinner diameter="150" class="m-auto"></mat-spinner>
    </ng-container>

    <ng-template #ready>
      <mat-form-field>
        <mat-label>Vyhledat</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Např. xlogin00@fit.vutbr.cz" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <div class="overflow-auto">
          <table mat-table [dataSource]="accountsDataSource" class="table data-table" matSort>

            <!--  HEADER  -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
              <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>

            <ng-container matColumnDef="nameAndDegrees">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Jméno a příjmení</th>
              <td mat-cell *matCellDef="let row"> {{row.nameWithDegrees}} </td>
            </ng-container>

            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Přiřazená role</th>
              <td mat-cell *matCellDef="let row">
                <form>
                  <mat-form-field appearance="outline" class="p-0">
                    <mat-select [value]="row.roles[0]" required
                                (selectionChange)="changeAccountRole($event, row.userId)">
                      <mat-option [value]="roleKeys[0]">Student</mat-option>
                      <mat-option [value]="roleKeys[1]">Vyučující</mat-option>
                      <mat-option [value]="roleKeys[2]">Administrátor</mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Akce</th>
              <td mat-cell *matCellDef="let row">
                <button (click)="lockAccount(row.email, row.userId, row.locked)"
                        *ngIf="!row.locked"
                        color="primary"
                        mat-icon-button
                        matTooltip="Zablokovat uživatelský účet">
                  <mat-icon>lock</mat-icon>
                </button>
                <button (click)="lockAccount(row.email, row.userId, row.locked)"
                        *ngIf="row.locked"
                        color="primary"
                        mat-icon-button
                        matTooltip="Odblokovat uživatelský účet">
                  <mat-icon>lock_open</mat-icon>
                </button>
                <button (click)="deleteAccount(row.email, row.userId)" appClickStopPropagation
                        color="warn"
                        mat-icon-button
                        matTooltip="Smazat uživatelský účet">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="headerColumns" class="b-b-2"></tr>
            <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell no-data-cell" [colSpan]="headerColumns.length">

                <ng-container
                  *ngIf="accountsDataSource.data.length === 0; then noData; else someData">
                </ng-container>

                <ng-template #noData>
                  Žádný uživatel nebyl doposud zaregistrován
                </ng-template>
                <ng-template #someData>
                  Nenalezena žádná data odpovídající filtru "{{input.value}}"
                </ng-template>
              </td>
            </tr>
          </table>

        </div>
        <mat-paginator showFirstLastButtons
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </ng-template>

  </mat-card-content>
</mat-card>
