.mat-column-actions {
  width: 90px;
  white-space: nowrap;
  padding-left: 8px !important;
  padding-right: 8px !important;
  text-align: center;
}

:host ::ng-deep form .mat-form-field-wrapper {
  padding: 0 !important;
}
