<div class="mat-elevation-z8 m-l-15 m-r-15">
  <div class="overflow-auto">
    <table mat-table [dataSource]="schedulesDataSource" class="table data-table" matSort>
      <!--  HEADER  -->
      <ng-container matColumnDef="seatNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Číslo sedadla</th>
        <td mat-cell *matCellDef="let row"> {{row.seatNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Login</th>
        <td mat-cell *matCellDef="let row"> {{row.login}} </td>
      </ng-container>

      <ng-container matColumnDef="nameAndDegrees">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Jméno a tituly</th>
        <td mat-cell *matCellDef="let row"> {{row.nameAndDegrees}} </td>
      </ng-container>

      <ng-container matColumnDef="orderNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pořadové číslo</th>
        <td mat-cell *matCellDef="let row"> {{row.orderNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="assignment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Přidělené zadání</th>
        <td mat-cell *matCellDef="let row">
          <a *ngIf="row.assignment; else noAssignment" routerLink="/assignments/{{row.assignment.assignmentId}}">
            {{row.assignment.name}}
          </a>
          <ng-template #noAssignment>
            Žádné
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="action" *ngIf="showAction">
        <th mat-header-cell *matHeaderCellDef> Akce</th>
        <td mat-cell *matCellDef="let row">
          <app-generate-assignment *ngIf="row.assignment"
                                   [onlyIcon]="true"
                                   [showDownload]="row.generated"
                                   [termId]="termId"
                                   [testScheduleId]="row.testScheduleId"
                                   [disableGenerateButton]="disableGenerateButtons"
                                   downloadTooltipText="Stáhnout vygenerované zadání pouze pro tohoto studenta"
                                   generateTooltipText="Vygenerovat zadání pouze pro tohoto studenta">
          </app-generate-assignment>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: headerColumns"></tr>
    </table>
  </div>
  <mat-paginator showFirstLastButtons
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
