<ng-container *ngIf="!onlyIcon">
  <button (click)="downloadPdf()"
          *ngIf="showDownload" [matTooltip]="downloadTooltipText"
          class="m-r-10"
          color="accent"
          mat-stroked-button>
    <mat-icon *ngIf="showIcon">file_download</mat-icon>
    STÁHNOUT ZADÁNÍ
  </button>
  <button (click)="cancelAssignmentGenerating()" *ngIf="generatingInProgress"
          matTooltip="Přerušit generování zadání pro tento termín"
          color="warn"
          mat-stroked-button>
    <mat-icon *ngIf="showIcon">cancel</mat-icon>
    PŘERUŠIT GENEROVÁNÍ
  </button>
  <button (click)="generateAssignment()" *ngIf="!generatingInProgress"
          [disabled]="disableGenerateButton"
          [matTooltip]="generateTooltipText"
          color="primary"
          mat-stroked-button>
    <mat-icon *ngIf="showIcon">restore_page</mat-icon>
    VYGENEROVAT ZADÁNÍ
  </button>
</ng-container>

<ng-container *ngIf="onlyIcon">
  <button (click)="downloadPdf()" *ngIf="showDownload"
          [matTooltip]="downloadTooltipText"
          color="accent"
          mat-icon-button>
    <mat-icon>file_download</mat-icon>
  </button>
  <button (click)="generateAssignment()" [disabled]="disableGenerateButton"
          [matTooltip]="generateTooltipText"
          color="primary"
          mat-icon-button>
    <mat-icon>restore_page</mat-icon>
  </button>
</ng-container>

