@mixin border-bottom-2 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

@mixin border-left-1 {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

@mixin border-right-1 {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.data-table {
  .b-b-2 {
    @include border-bottom-2;

    th {
      @include border-bottom-2;
    }
  }

  .mat-column-room_h, .mat-column-capacity_h, .mat-column-creator_h,
  .mat-column-name, .mat-column-cap_2, .mat-column-creator {
    padding-right: 24px;
    @include border-right-1;
  }

  .mat-column-capacity_h, .mat-column-creator_h, .mat-column-cap_0, .mat-column-creator {
    padding-left: 24px;
    @include border-left-1;
  }

  .mat-column-action_h {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    @include border-left-1;
    @include border-bottom-2;
  }

  .mat-column-action {
    width: 90px;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    @include border-left-1;
  }
}
