<mat-card>
  <mat-card-content>
    <mat-card-title>
      Seznam vytvořených místností
    </mat-card-title>
    <mat-card-subtitle>
      Kliknutím na řádek tabulky zobrazíte stránku s podrobnějšími informacemi o dané místnosti
    </mat-card-subtitle>

    <a mat-raised-button color="primary"
       class="m-b-10"
       routerLink="/rooms/new"
       *ngIf="isUserAdminOrEmployee">
      NOVÁ MÍSTNOST
    </a>

    <ng-container *ngIf="isLoading else ready">
      <mat-spinner diameter="150" class="m-auto"></mat-spinner>
    </ng-container>


    <ng-template #ready>
      <mat-form-field>
        <mat-label>Vyhledat</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Např. E105" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <div class="overflow-auto">
          <table mat-table [dataSource]="roomsDataSource" class="table data-table" matSort>
            <!--  HEADER 1st line        -->
            <ng-container matColumnDef="room_h">
              <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Místnost</th>
            </ng-container>

            <ng-container matColumnDef="capacity_h">
              <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Kapacita (podle způsobu rozsazení)</th>
            </ng-container>

            <ng-container matColumnDef="creator_h" *ngIf="isUserAdminOrEmployee">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" mat-sort-header class="b-b-2">
                Vytvořil
              </th>
            </ng-container>

            <ng-container matColumnDef="action_h" *ngIf="isUserAdminOrEmployee">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Akce</th>
            </ng-container>

            <!--  HEADER 2nd line        -->
            <ng-container matColumnDef="abbreviation">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Zkratka</th>
              <td mat-cell *matCellDef="let row"> {{row.abbreviation}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Název</th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="cap_0">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Vedle sebe</th>
              <td mat-cell *matCellDef="let row"> {{row.capacities[0]}} </td>
            </ng-container>

            <ng-container matColumnDef="cap_1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Ob jedno</th>
              <td mat-cell *matCellDef="let row"> {{row.capacities[1]}} </td>
            </ng-container>

            <ng-container matColumnDef="cap_2">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Ob dvě</th>
              <td mat-cell *matCellDef="let row"> {{row.capacities[2]}} </td>
            </ng-container>

            <ng-container matColumnDef="creator">
              <th mat-header-cell *matHeaderCellDef hidden> Vytvořil</th>
              <td mat-cell *matCellDef="let row">
                <a appClickStopPropagation href="mailto:{{row.creatorEmail}}">
                  {{row.creatorNameWithDegrees}}
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef hidden> Akce</th>
              <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="(isUserRoomCreator(row.creatorEmail) | async) || isUserAdmin">
                  <a mat-icon-button color="primary" routerLink="/rooms/{{row.roomId}}/edit">
                    <mat-icon>edit</mat-icon>
                  </a>
                  <button mat-icon-button color="warn" (click)="showConfirmDialog(row)"
                          appClickStopPropagation>
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-container>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="fstRowHeaderColumns"></tr>
            <tr mat-header-row *matHeaderRowDef="sndRowHeaderColumns" class="b-b-2"></tr>
            <tr mat-row *matRowDef="let row; columns: sndRowHeaderColumns;" (click)="showRoomDetails(row)"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell no-data-cell" [colSpan]="sndRowHeaderColumns.length">

                <ng-container
                  *ngIf="roomsDataSource.data.length === 0; then noData; else someData">
                </ng-container>

                <ng-template #noData>
                  Žádná místnost nebyla doposud vytvořena
                </ng-template>
                <ng-template #someData>
                  Nenalezena žádná data odpovídající filtru "{{input.value}}"
                </ng-template>
              </td>
            </tr>
          </table>

        </div>
        <mat-paginator showFirstLastButtons
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>


