.sequences {
  font-size: 13px;
  margin-top: 10px;
}

.mat-progress-bar {
  height: 25px;
}

.progress-bar-section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;

  .progress-bar-text {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }
}

.hidden {
  visibility: hidden;
}

.grids-container {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 10px 35px;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 15px;
}
