<mat-card>
  <mat-card-content>

    <mat-card-title class="m-b-20">
      {{edit ? 'Editace šablony zadání \"' + oldAssignmentName + '\"' : 'Vytvoření nové šablony zadání'}}
    </mat-card-title>

    <form [formGroup]="newAssignmentForm" id="newAssignmentForm" (ngSubmit)="onSubmit()">
      <div class="subform-header">
        <div class="mat-step-icon">a</div>
        <h5>
          Udejte název šablony zadání a seznam dalších osob, které šablonu budou moci zobrazit a spravovat.
        </h5>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Název šablony</mat-label>
        <input type="text" matInput
               formControlName="assignmentName"
               required>
        <mat-error *ngIf="assignmentName.errors?.required">
          Chybějící hodnota
        </mat-error>
        <mat-error *ngIf="assignmentName.errors?.maxlength">
          Příliš dlouhý vstup
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="!isLoading">
        <mat-label>Vyučující</mat-label>
        <mat-select formControlName="employees"
                    multiple
                    [value]="selectedEmployeeList"
                    [compareWith]="compareFunction"
                    (openedChange)="clearFilter($event)">
          <mat-form-field class="p-l-15 p-r-15 p-b-0">
            <mat-label>Vyhledat</mat-label>
            <input matInput (keyup)="onKey($event)">
          </mat-form-field>
          <ng-container *ngFor="let employee of employeeList">
            <mat-option [hidden]="!filteredEmployeeLists.includes(employee)" [value]="employee">
              <span class="bold">{{employee.email}}</span> - {{employee.nameWithDegrees}}
            </mat-option>
          </ng-container>
          <mat-optgroup *ngIf="filteredEmployeeLists.length === 0">Nic nenalezeno</mat-optgroup>
        </mat-select>
      </mat-form-field>

      <ng-container *ngIf="isLoading">
        <mat-spinner diameter="100" class="m-auto"></mat-spinner>
      </ng-container>

      <div class="subform-header">
        <div class="mat-step-icon">b</div>
        <div>
          <h5>
            Nahrajte zdrojové soubory šablony pomocí tlačítka pro nahrání (soubory sazebního systému LaTeX)
          </h5>
          <div class="line-space"></div>
          <h6>
            <b>UPOZORNĚNÍ:</b> Ujistěte se, že soubory jsou ukládány se správným kódováním a všechny znaky jsou čitelné
          </h6>
          <div class="line-space"></div>
          <h6>
            <b>UPOZORNĚNÍ:</b> V kořenovém adresáři šablony zadání <b>musí</b> být alespoň jeden .tex soubor.
          </h6>
          <div class="line-space"></div>
          <h6>
            Pokud jsou zdrojové soubory šablony zadání rozděleny do vícera adresářů, nahrajte je všechny zabalené v
            jednom
            archivním souboru.
          </h6>
          <div class="line-space"></div>
          <h6>
            Zdrojové .tex soubory mohou obsahovat následující zástupné sekvence znaků, které budou nahrazeny
            odpovídajícími daty
          </h6>
          <ul class="sequences">
            <li><b>@@LOGIN@@</b> - Login studenta</li>
            <li><b>@@JMENO@@</b> - Jméno a příjmení studenta, včetně titulů</li>
            <li><b>@@DATUM@@</b> - Datum konání přiřazeného běhu zkoušky</li>
            <li><b>@@TERMIN@@</b> - Datum a čas konání přiřazeného běhu zkoušky</li>
            <li><b>@@CISLO-STUDENTA@@</b> - Pořadí studenta v abecedním seznamu</li>
            <li><b>@@MISTNOST@@</b> - Zkratka přiřazené místnosti</li>
            <li><b>@@MISTO@@</b> - Unikátní číslo místa vytvořené při rozsazování</li>
            <li><b>@@RADA@@</b> - Číslo řady (počítáno od katedry)</li>
            <li><b>@@SLOUPEC@@</b> - Pozice místa v řadě (počítáno zleva při pohledu od katedry)</li>
          </ul>
        </div>
      </div>

      <input type="file" class="file-input"
             (change)="onFileSelected($event)" #fileUpload multiple>

      <div class="grids-container" *ngIf="assignmentFiles.length > 0">
        <ng-container *ngFor="let item of assignmentFiles.controls; let i = index, let isLast = last"
                      formArrayName="assignmentFiles">
          <td>
            {{assignmentFile(i).value.name}}
          </td>
          <td>
            {{assignmentFile(i).value.size | filesize }}
          </td>
          <td>
            <button type="button" mat-button color="warn"
                    (click)="removeAssignmentFile(i)">
              ODEBRAT
            </button>
            <button type="button" mat-button color="primary"
                    *ngIf="isEditableFile(assignmentFile(i).value.name)"
                    (click)="showContent(assignmentFile(i).value, i)">
              ZOBRAZIT OBSAH
            </button>
            <button type="button" mat-button color="primary"
                    *ngIf="!isEditableFile(assignmentFile(i).value.name)"
                    (click)="downloadAssignmentFile(assignmentFile(i).value)">
              STÁHNOUT SOUBOR
            </button>
          </td>
        </ng-container>
      </div>

      <button type="button" mat-stroked-button color="primary" class="upload-btn m-b-20"
              (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
        {{assignmentFiles.length == 0 ? 'NAHRÁT SOUBORY' : 'NAHRÁT DALŠÍ SOUBORY'}}
      </button>

      <ng-container *ngIf="previewedFile">
        <mat-form-field appearance="outline" *ngIf="isFile(previewedFile)"> <!-- TODO already uploaded encoding-->
          <mat-label>Znaková sada (pro dekódování souboru)</mat-label>
          <mat-select formControlName="encoding">
            <mat-option *ngFor="let encoding of encodingList"
                        [value]="encoding">
              {{encoding}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="encoding.errors?.required">
            Chybějící hodnota
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="m-t-15">
          <mat-label>{{previewedFile.name}}</mat-label>
          <textarea class="textarea-font" matInput
                    formControlName="filePreview"
                    rows="15"
                    (keydown.tab)="onTabTextarea($event)">
        </textarea>
        </mat-form-field>
        <button (click)="hideSelectedFile()" color="accent" mat-stroked-button class="m-r-10">
          SKRÝT
        </button>
      </ng-container>
    </form>

    <ng-container *ngIf="isUploading">
      <mat-spinner diameter="100" class="m-auto"></mat-spinner>
    </ng-container>

    <ng-container *ngIf="edit">
      <mat-error class="bold m-b-20">
        <b>UPOZORNĚNÍ:</b> Změna nebo úprava souborů šablony zadání povede k nutnosti opětovného vygenerování zadání.
      </mat-error>
    </ng-container>

    <mat-card-actions>
      <button mat-raised-button type="submit"
              color="primary"
              form="newAssignmentForm"
              [disabled]="isUploading">
        {{edit ? 'ULOŽIT ZMĚNY' : 'VYTVOŘIT'}}
      </button>
      <button type="button" mat-stroked-button
              (click)="clearForm()"
              [disabled]="isUploading">
        RESET
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
