<mat-card>
  <mat-card-content>

    <mat-card-title class="m-b-20">
      Změna hesla
    </mat-card-title>

    <form [formGroup]="changePasswordForm" id="changePasswordForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" fxFlex="100" class="p-l-5 p-r-5">
          <mat-label>Současné heslo</mat-label>
          <input type="password" matInput autocomplete="off"
                 [type]="hideCurrentPassword ? 'password' : 'text'"
                 formControlName="currentPassword"
                 required>
          <button mat-icon-button matSuffix tabindex="-1"
                  type="button"
                  (click)="hideCurrentPassword = !hideCurrentPassword"
                  [attr.aria-label]="'Skrýt heslo'"
                  [attr.aria-pressed]="hideCurrentPassword">
            <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="currentPassword.errors?.required">
            Chybějící údaj
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100" class="p-l-5 p-r-5">
          <mat-label>Nové heslo</mat-label>
          <input type="password" matInput autocomplete="off"
                 [type]="hidePassword ? 'password' : 'text'"
                 formControlName="password"
                 required>
          <button mat-icon-button matSuffix tabindex="-1"
                  type="button"
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Skrýt heslo'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="password.errors?.required">
            Chybějící údaj
          </mat-error>
          <mat-hint align="end" aria-live="polite">
            {{ password.value.length}} / {{passwordComponent.min }}
          </mat-hint>
        </mat-form-field>
        <mat-password-strength fxFlex="100" class="p-l-5 p-r-5"
                               #passwordComponent
                               [password]="password.value">
        </mat-password-strength>
        <mat-password-strength-info class="p-l-5 p-r-5"
                                    *ngIf="password.invalid && !password.errors?.required"
                                    [passwordComponent]="passwordComponent"
                                    [@.disabled]="true"
                                    lowerCaseCriteriaMsg="alespoň 1 malé písmeno"
                                    upperCaseCriteriaMsg="alespoň 1 velké písmeno"
                                    digitsCriteriaMsg="alespoň 1 číslici"
                                    specialCharsCriteriaMsg="alespoň 1 speciální znak"
                                    minCharsCriteriaMsg="alespoň {{ this.passwordComponent.min }} znaků">
        </mat-password-strength-info>

        <mat-form-field appearance="outline" class="p-l-5 p-r-5 p-t-10">
          <mat-label>Zopakujte nové heslo</mat-label>
          <input type="password" matInput autocomplete="off"
                 [type]="hideConfirmPassword ? 'password' : 'text'"
                 formControlName="confirmPassword"
                 required>
          <button mat-icon-button matSuffix tabindex="-1"
                  type="button"
                  (click)="hideConfirmPassword = !hideConfirmPassword"
                  [attr.aria-label]="'Skrýt heslo'"
                  [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="confirmPassword.errors?.required">
            Chybějící údaj
          </mat-error>
          <mat-error *ngIf="confirmPassword.hasError('NoPasswordMatch')">
            Zadaná hesla se neshodují
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <mat-card-actions>
      <button mat-raised-button type="submit"
              color="primary"
              form="changePasswordForm">
        ZMĚNIT HESLO
      </button>
    </mat-card-actions>

    <ng-container *ngIf="isWaiting">
      <mat-spinner diameter="150" class="m-auto"></mat-spinner>
    </ng-container>

  </mat-card-content>
</mat-card>
