<mat-card>
  <mat-card-content>
    <mat-card-title>
      Seznam vytvořených předmětů
    </mat-card-title>

    <form class="m-t-20" [formGroup]="newCourseForm" (ngSubmit)="onSubmit()">
      <div fxLayout fxLayout.xs="column wrap" fxLayoutGap.gt-xs="15px">
        <mat-form-field appearance="outline" fxFlex="calc(25% - 15px)">
          <mat-label>Zkratka předmětu</mat-label>
          <input type="text" matInput formControlName="abbreviation" required>
          <mat-error *ngIf="abbreviation.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="abbreviation.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="calc(55% - 15px)">
          <mat-label>Název předmětu</mat-label>
          <input type="text" matInput formControlName="name" required>
          <mat-error *ngIf="name.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="name.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="calc(20% - 15px)">
          <mat-label>Akademický rok</mat-label>
          <input type="number" matInput
                 formControlName="academicYear"
                 required>
          <mat-error *ngIf="academicYear.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="academicYear.errors?.min || academicYear.errors?.max">
            Neplatný rok (2000-2050)
          </mat-error>
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary"
              class="m-b-10">
        VYTVOŘIT PŘEDMĚT
      </button>
    </form>

    <ng-container *ngIf="isLoading else ready">
      <mat-spinner diameter="150" class="m-auto"></mat-spinner>
    </ng-container>


    <ng-template #ready>
      <mat-divider inset class="m-t-20 m-b-20"></mat-divider>

      <mat-form-field>
        <mat-label>Vyhledat</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Např. AVS" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <div class="overflow-auto">
          <table mat-table [dataSource]="coursesDataSource" class="table data-table" matSort>

            <!--  HEADER  -->
            <ng-container matColumnDef="abbreviation">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Zkratka</th>
              <td mat-cell *matCellDef="let row"> {{row.abbreviation}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Název</th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="academicYear">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Akademický rok</th>
              <td mat-cell *matCellDef="let row"> {{row.academicYear}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Akce</th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="editCourse(row)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteCourse(row)"
                        appClickStopPropagation>
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="headerColumns" class="b-b-2"></tr>
            <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell no-data-cell" [colSpan]="headerColumns.length">

                <ng-container
                  *ngIf="coursesDataSource.data.length === 0; then noData; else someData">
                </ng-container>

                <ng-template #noData>
                  Žádný předmět nebyl doposud vytvořen
                </ng-template>
                <ng-template #someData>
                  Nenalezena žádná data odpovídající filtru "{{input.value}}"
                </ng-template>
              </td>
            </tr>
          </table>

        </div>
        <mat-paginator showFirstLastButtons
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </ng-template>

  </mat-card-content>
</mat-card>
