<mat-card>
  <mat-card-content>

    <ng-container *ngIf="selectListRooms$ | async as roomList; else loading">
      <mat-form-field appearance="outline"
                      class="p-b-15"
                      *ngIf="roomList.length !== 0">
        <mat-label>Vyplnit daty z existující místnosti [zkratka - název (kapacity)]</mat-label>
        <mat-select>
          <mat-option *ngFor="let room of roomList;"
                      [value]="room"
                      (click)="fillFormWithSelectedRoomData(room)">
            <span class="bold">{{ room.abbreviation }}</span> - {{room.name}}
            ({{room.capacities[0]}}/{{room.capacities[1]}}/{{room.capacities[2]}})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <ng-template #loading>
      <mat-spinner diameter="100" class="m-auto"></mat-spinner>
    </ng-template>

    <mat-card-title>
      Zvolte velikost místnosti
    </mat-card-title>
    <mat-card-subtitle>
      Velikost místnosti lze dodatečně dynamicky upravovat
    </mat-card-subtitle>

    <form class="m-t-20" [formGroup]="newRoomForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Počet řad</mat-label>
          <input type="number" min="1" max="150" matInput formControlName="rows" required>
          <mat-error *ngIf="rows.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="rows.errors?.min">
            Místnost musí obsahovat alespoň 1 řadu
          </mat-error>
          <mat-error *ngIf="rows.errors?.max">
            Místnost může obsahovat maximálně 150 řad
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Počet míst v řadě</mat-label>
          <input type="number" min="1" max="150" matInput formControlName="columns" required>
          <mat-error *ngIf="columns.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="columns.errors?.min">
            V řadě musí být alespoň 1 místo
          </mat-error>
          <mat-error *ngIf="rows.errors?.max">
            Řada může obsahovat maximálně 150 míst
          </mat-error>
        </mat-form-field>

        <ng-container *ngIf="!(rows.invalid || columns.invalid)">
          <mat-divider inset class="m-t" fxFlex="100"></mat-divider>
          <mat-card-title fxFlex="100" class="m-t-20">
            Vytvořte plán místnosti
          </mat-card-title>
          <mat-card-subtitle>
            Pro označení vícera míst najednou použijte tažení myší
          </mat-card-subtitle>
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <app-room-plan-legend (legendValueChange)="onLegendValChange($event)"
                                  [defaultSelect]="legendValue"
                                  [withBlocked]="true">
            </app-room-plan-legend>
            <span class="font-medium font-20">Počet míst k sezení: {{ numberOfSeats }}</span>
          </div>

          <div class="cell-container m-t-20 m-b-20" fxFlex="100" [ngStyle]="{
            'grid-template-rows': 'repeat(' + (rows.value + 1) + ', 29px)',
            'grid-template-columns': 'repeat(' + (columns.value + 1) + ', 36px)'
            }">
            <div></div>
            <div class="font-medium row-column-number"
                 *ngFor="let columnNumber of columnNumbers">
              {{ columnNumber }}
            </div>
            <!-- Rows are rendered in reverse order (last row is rendered first) -->
            <ng-container *ngFor="let i of [].constructor(rows.value); index as rowNumber">
              <div class="font-medium row-column-number">{{ rowNumbers[rowNumber] }}</div>
              <button type="button"
                      *ngFor="let j of [].constructor(columns.value); index as columnNumber"
                      [ngClass]="{'AISLE': 'aisle', 'SEAT': 'seat', 'DESK': 'desk', 'BLOCKED': 'blocked'}[cellTypeMatrix[rows.value - rowNumber - 1][columnNumber]]"
                      (mousedown)="onSelectionStart(rows.value - rowNumber, columnNumber + 1)"
                      (mouseenter)="onSelection(rows.value - rowNumber, columnNumber + 1)"
                      (mouseup)="onSelectionEnd()">
                <!--                                {{(rows.value - rowNumber - 1) * columns.value + columnNumber + 1}}-->
                <!--                                {{newRoom.cells[rows.value - rowNumber - 1][columnNumber]}}-->
              </button>
            </ng-container>
          </div>

          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Zkratka místnosti</mat-label>
            <input type="text" matInput formControlName="abbreviation" required>
            <mat-error *ngIf="abbreviation.errors?.required">
              Chybějící údaj
            </mat-error>
            <mat-error *ngIf="abbreviation.errors?.maxlength">
              Příliš dlouhý vstup
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Název místnosti</mat-label>
            <input type="text" matInput formControlName="name" required>
            <mat-error *ngIf="name.errors?.required">
              Chybějící údaj
            </mat-error>
            <mat-error *ngIf="name.errors?.maxlength">
              Příliš dlouhý vstup
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Popisek</mat-label>
            <textarea type="text" matInput formControlName="description"></textarea>
            <mat-error *ngIf="description.errors?.maxlength">
              Příliš dlouhý vstup
            </mat-error>
          </mat-form-field>

          <mat-card-actions>
            <button mat-raised-button type="submit"
                    color="primary"
                    *ngIf="!edit">
              VYTVOŘIT
            </button>
            <button mat-raised-button type="submit"
                    color="primary"
                    *ngIf="edit">
              ULOŽIT
            </button>
            <button type="button" mat-stroked-button (click)="clearForm()">RESET</button>
          </mat-card-actions>

        </ng-container>
      </div>
    </form>
  </mat-card-content>
</mat-card>
