<mat-card class="main-card">
  <mat-card-content>
    <a class="close-icon-tr" routerLink="/">
      <mat-icon inline>close</mat-icon>
    </a>

    <div class="text-center">
      <img alt="fit logo" src="assets/images/logo-icon.png">
      <h3 class="title-text m-t-10">Zapomenuté heslo</h3>
    </div>

    <ng-container *ngIf="isWaiting">
      <mat-spinner diameter="150" style="margin: 80px"></mat-spinner>
    </ng-container>

    <form [formGroup]="forgetPasswordForm"
          (ngSubmit)="onSubmit()"
          *ngIf="!isWaiting">
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Fakultní e-mailová adresa</mat-label>
          <input type="text" matInput placeholder="např. jmeno@domena.cz" formControlName="email" required>
          <mat-error *ngIf="email.errors?.email">
            Chybný formát
          </mat-error>
          <mat-error *ngIf="email.errors?.required">
            Chybějící údaj
          </mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary"
                class="btn-block btn-lg m-t-20"
                fxFlex="100">
          POŽÁDAT O ZMĚNU HESLA
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
