<ng-container *ngIf="edit">
  <div class="subform-header m-t-0">
    <div class="mat-step-icon">.</div>
    <div>
      <h5>
        Zde můžete z termínu zkoušky odebrat studenty
      </h5>
      <div class="line-space"></div>
      <h6>
        <b>UPOZORNĚNÍ:</b> Místa, na kterých byli odebraní studenti usazeni, zůstanou prázdná.
        Čísla míst a pořadová čísla zbylých studentů však zůstanou zachována.
      </h6>
      <div class="line-space"></div>
      <h6>
        Pokud chcete k termínu přidat další studenty, zaškrtněte políčko níže pod tabulkou.
      </h6>
    </div>
  </div>
  <app-student-list-table [tableDataSource]="existingStudentList"
                          [showAction]="true"
                          (studentPlacementsChange)="studentPlacementsChange.emit($event)"
                          noDataMessage="K tomuto termínu nebyl doposud přidán žádný student">
  </app-student-list-table>
  <mat-checkbox [checked]="addMoreStudents"
                (change)="onAddMoreStudentsCheckBoxChanges()"
                labelPosition="before"
                class="m-t-15 m-b-25 bold">Přidat další studenty
  </mat-checkbox>
</ng-container>

<!-- Hidden file upload button -->
<ng-container *ngIf="!edit || addMoreStudents">
  <input type="file" class="file-input"
         [accept]="acceptedFileTypes.toString()"
         (change)="onFileSelected($event)" #fileUpload>

  <form [formGroup]="studentListForm">
    <div class="subform-header m-t-0">
      <div class="mat-step-icon">a</div>
      <div>
        <h5>
          Vložte data do textového pole nebo je nahrajte přímo ze souboru .csv pomocí tlačítka pro nahrání.
        </h5>
        <div class="line-space"></div>
        <h6>
          Odstraňte prosím všechny řádky, které neobsahují data o studentech (řádek s názvy sloupců apod.).
        </h6>
        <div class="line-space"></div>
        <h6>
          Ujistěte se také, že všechny řádky obsahují požadovaná, všechny znaky jsou čitelné a řádky neobsahují
          duplicitní data.
        </h6>
      </div>
    </div>

    <div class="file-upload">
      {{csvFile?.name || "Zatím nebyl nahrán žádný *.csv soubor"}}
      <button type="button" mat-stroked-button color="primary" class="upload-btn m-l-10"
              (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
        NAHRÁT
      </button>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Soubor .csv s informacemi o studentech</mat-label>
      <textarea class="textarea-font" matInput
                formControlName="studentCsv"
                rows="5"
                required
                (keydown.tab)="onTabTextarea($event)">
    </textarea>
      <mat-error *ngIf="studentCsv.errors?.required">
        Chybějící data
      </mat-error>
    </mat-form-field>

    <div class="subform-header">
      <div class="mat-step-icon">b</div>
      <h5>
        Specifikujte znakovou sadu, která bude použita pro dekódování souboru, a znak, který odděluje jednotlivé
        sloupce.
      </h5>
    </div>
    <div fxLayout="row wrap"
         fxLayoutGap.gt-sm="15px">
      <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(60% - 15px)">
        <mat-label>Znaková sada (pro dekódování .csv souboru)</mat-label>
        <mat-select formControlName="encoding" required>
          <mat-option *ngFor="let encoding of encodingList"
                      [value]="encoding">
            {{encoding}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="encoding.errors?.required">
          Chybějící hodnota
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(40% - 15px)">
        <mat-label>Znak oddělovače sloupců</mat-label>
        <input type="text" matInput
               formControlName="separator"
               required
               placeholder=";"
               (keydown.tab)="onTabSeparator($event)">
        <mat-error *ngIf="separator.errors?.required">
          Chybějící hodnota
        </mat-error>
        <mat-error *ngIf="separator.errors?.maxlength">
          Příliš dlouhý vstup
        </mat-error>
      </mat-form-field>
    </div>


    <mat-checkbox [checked]="isLoginAndNameInSameColumn"
                  (change)="onIsLoginAndNameInSameColumnChanges()"
                  labelPosition="before"
                  class="m-b-10 bold">
      Jména a příjmení studentů jsou ve stejném sloupci
    </mat-checkbox>


    <div class="subform-header">
      <div class="mat-step-icon">c</div>
      <h5>Udejte čísla sloupců, ve kterých se nachází požadované údaje (indexováno od 1)</h5>
    </div>
    <div *ngIf="isLoginAndNameInSameColumn"
         formGroupName="sameColumn">
      <div fxLayout="row wrap"
           fxLayoutGap.gt-sm="15px">
        <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(50% - 15px)">
          <mat-label>Loginy studentů</mat-label>
          <input type="number" min="1" matInput
                 formControlName="loginPosition"
                 required
                 placeholder="1">
          <mat-error *ngIf="loginPosition.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="loginPosition.errors?.min">
            Číslo sloupce musí být větší než nula
          </mat-error>
          <mat-error *ngIf="loginPosition.hasError('SameNumber')">
            Čísla sloupců musí být různá
          </mat-error>
          <mat-error *ngIf="loginPosition.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(50% - 15px)">
          <mat-label>Příjmení a jména studentů</mat-label>
          <input type="number" min="1" matInput
                 formControlName="nameAndDegreesPosition"
                 required
                 placeholder="2">
          <mat-error *ngIf="nameAndDegreesPosition.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="nameAndDegreesPosition.errors?.min">
            Číslo sloupce musí být větší než nula
          </mat-error>
          <mat-error *ngIf="nameAndDegreesPosition.hasError('SameNumber')">
            Čísla sloupců musí být různá
          </mat-error>
          <mat-error *ngIf="nameAndDegreesPosition.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="!isLoginAndNameInSameColumn"
         formGroupName="separateColumns">
      <div fxLayout="row wrap"
           fxLayoutGap.gt-sm="15px">
        <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(33% - 15px)">
          <mat-label>Loginy studentů</mat-label>
          <input type="number" min="1" matInput
                 formControlName="loginPositionSep"
                 required>
          <mat-error *ngIf="loginPositionSep.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="loginPositionSep.errors?.min">
            Pořadí ve sloupci musí být větší než nula
          </mat-error>
          <mat-error *ngIf="loginPositionSep.hasError('SameNumber')">
            Čísla sloupců musí být různá
          </mat-error>
          <mat-error *ngIf="loginPositionSep.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(33% - 15px)">
          <mat-label>Jména studentů</mat-label>
          <input type="number" min="1" matInput
                 formControlName="namePositionSep"
                 required>
          <mat-error *ngIf="namePositionSep.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="namePositionSep.errors?.min">
            Pořadí ve sloupci musí být větší než nula
          </mat-error>
          <mat-error *ngIf="namePositionSep.hasError('SameNumber')">
            Čísla sloupců musí být různá
          </mat-error>
          <mat-error *ngIf="namePositionSep.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(34% - 15px)">
          <mat-label>Příjmení studentů</mat-label>
          <input type="number" min="1" matInput
                 formControlName="surnamePositionSep"
                 required>
          <mat-error *ngIf="surnamePositionSep.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="surnamePositionSep.errors?.min">
            Pořadí ve sloupci musí být větší než nula
          </mat-error>
          <mat-error *ngIf="surnamePositionSep.hasError('SameNumber')">
            Čísla sloupců musí být různá
          </mat-error>
          <mat-error *ngIf="surnamePositionSep.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>

  <ng-container *ngIf="addMoreStudents">
    <div class="subform-header">
      <div class="mat-step-icon">d</div>
      <div>
        <h5>
          Zde můžete vybrat, zda přidaní studenti budou usazeni na konec poslední místnosti za posledního dříve
          usazeného studenta, nebo zda bude vytvořeno nové rozsazení.
        </h5>
        <div class="line-space"></div>
        <h6>
          <b>UPOZORNĚNÍ:</b> Pokud bude vytvořeno nové rozsazení, bude zapotřebí znovu případně vygenerovat všechna
          zadání.
          Pokud budou noví studenti přidáni na konec, stačí dogenerovat zadání jen pro ně.
        </h6>
        <div class="line-space"></div>
        <h6>
          <b>UPOZORNĚNÍ:</b> Při přidání studentů na konec zůstanou pořadová čísla v abecedě všech studentů zachována,
          aby nebylo nutné znovu generovat všechna zadání. Nově přidaní studenti dostanou pořadová čísla, která budou
          následovat za pořadovými čísly předchozích studentů. Od určitého čísla tedy bude zahájeno nové abecední
          číslování.
        </h6>
        <div class="line-space"></div>
        <h6>
          <b>DOPORUČENÍ:</b> Pokud již máte vytištěná zadání, přidejte studenty na konec a dogenerujte si zadání jen pro
          ně.
          V opačném případě vytvořte nové rozsazení.
        </h6>
      </div>
    </div>
    <mat-checkbox [checked]="addStudentsAtTheEnd"
                  (change)="addStudentsAtTheEnd = !addStudentsAtTheEnd;"
                  labelPosition="before"
                  class="m-b-15 m-l-10 bold">Přidat nové studenty na konec
    </mat-checkbox>
    <br>
  </ng-container>

  <mat-checkbox [checked]="showPreview"
                (change)="showPreview = !showPreview"
                labelPosition="before"
                class="m-b-15 m-l-10 bold">Zobrazit náhled načtených dat
  </mat-checkbox>

  <app-student-list-table *ngIf="showPreview"
                          [tableDataSource]="studentsList"
                          noDataMessage="Žádný náhled není k dispozici. Udejte nebo případně upravte vyplněné údaje.">
  </app-student-list-table>
</ng-container>
