<mat-card>
  <mat-card-content>

    <mat-card-title class="m-b-20">
      Změna uživatelských údajů
    </mat-card-title>

    <form [formGroup]="changeUserDetailsForm" id="changeUserDetailsForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex="50" class="p-l-5 p-r-5">
          <mat-label>Jméno</mat-label>
          <input type="text" matInput placeholder="Jan" formControlName="firstName" required>
          <mat-error *ngIf="firstName.errors?.required">
            Chybějící údaj
          </mat-error>
          <mat-error *ngIf="firstName.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex="50" class="p-l-5 p-r-5">
          <mat-label>Příjmení</mat-label>
          <input type="text" matInput placeholder="Novák" formControlName="lastName" required>
          <mat-error *ngIf="lastName.errors?.required">
            Chybějící údaj
          </mat-error>
          <mat-error *ngIf="lastName.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50" class="p-l-5 p-r-5">
          <mat-label>Tituly před</mat-label>
          <input type="text" matInput placeholder="Ing." formControlName="degreesBeforeName">
          <mat-error *ngIf="degreesBeforeName.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50" class="p-l-5 p-r-5">
          <mat-label>Tituly za</mat-label>
          <input type="text" matInput placeholder="Ph.D." formControlName="degreesBehindName">
          <mat-error *ngIf="degreesBehindName.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <mat-card-actions>
      <button mat-raised-button type="submit"
              color="primary"
              form="changeUserDetailsForm">
        POTVRDIT ZMĚNY
      </button>
    </mat-card-actions>

    <ng-container *ngIf="isWaiting">
      <mat-spinner diameter="150" class="m-auto"></mat-spinner>
    </ng-container>

  </mat-card-content>
</mat-card>
