<!-- ============================================================== -->
<!-- Profile - style you can find in menu.scss -->
<!-- ============================================================== -->
<a mat-raised-button
   class="hidden-sm-up m-r-5"
   href="https://youtu.be/ePvoWbEPKLo"
   target="_blank">
  <mat-icon>ondemand_video</mat-icon>
  VIDEO NÁVOD
</a>
<a mat-raised-button
   class="hidden-sm-up m-r-5"
   href="mailto:xlibal00@stud.fit.vutbr.cz?subject=[DIP] Dotaz / problém">
  <mat-icon>contact_mail</mat-icon>
  KONTAKT
</a>
<a mat-raised-button color="accent"
   class="hidden-sm-up m-r-5"
   routerLink="/auth/register"
   *ngIf="!isUserLoggedIn">
  <mat-icon>app_registration</mat-icon>
  REGISTROVAT SE
</a>
<a mat-raised-button color="warn"
   class="hidden-sm-up"
   routerLink="/auth/login"
   *ngIf="!isUserLoggedIn">
  <mat-icon>login</mat-icon>
  PŘIHLÁSIT SE
</a>

<a mat-raised-button color="warn"
   class="hidden-sm-up"
   (click)="logout()"
   *ngIf="isUserLoggedIn">
  <mat-icon>logout</mat-icon>
  ODHLÁSIT SE
</a>

<!--<ng-container *ngIf="isUserLoggedIn">-->
<!--  <button mat-mini-fab class="m-r-5 m-l-20"-->
<!--          (menuOpened)="menuOpen = true"-->
<!--          (menuClosed)="menuOpen = false"-->
<!--          [matMenuTriggerFor]="profile">-->
<!--    <mat-icon>{{ menuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>-->
<!--  </button>-->
<!--  <mat-menu #profile="matMenu" class="mymegamenu">-->
<!--    <button mat-menu-item>-->
<!--      <mat-icon>settings</mat-icon>-->
<!--      Nastavení-->
<!--    </button>-->
<!--    <button mat-menu-item>-->
<!--      <mat-icon>account_box</mat-icon>-->
<!--      Profil-->
<!--    </button>-->
<!--    <button mat-menu-item-->
<!--            (click)="logout()">-->
<!--      <mat-icon>exit_to_app</mat-icon>-->
<!--      Odhlásit se-->
<!--    </button>-->
<!--  </mat-menu>-->
<!--</ng-container>-->
