<mat-card class="main-card">
  <mat-card-content>
    <a class="close-icon-tr" routerLink="/">
      <mat-icon inline>close</mat-icon>
    </a>

    <div class="text-center">
      <img alt="fit logo" src="assets/images/logo-icon.png">
      <h3 class="title-text m-t-10">Nastavit nové heslo</h3>
    </div>

    <ng-container *ngIf="isWaiting">
      <mat-spinner diameter="150" style="margin: 80px"></mat-spinner>
    </ng-container>

    <form [formGroup]="newPasswordForm"
          (ngSubmit)="onSubmit()"
          *ngIf="!isWaiting">
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" fxFlex="100" class="p-l-5 p-r-5">
          <mat-label>Heslo</mat-label>
          <input type="password" matInput autocomplete="off"
                 [type]="hidePassword ? 'password' : 'text'"
                 formControlName="password"
                 required>
          <button mat-icon-button matSuffix tabindex="-1"
                  type="button"
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Skrýt heslo'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="password.errors?.required">
            Chybějící údaj
          </mat-error>
          <mat-hint align="end" aria-live="polite">
            {{ password.value.length}} / {{passwordComponent.min }}
          </mat-hint>
        </mat-form-field>
        <mat-password-strength fxFlex="100" class="p-l-5 p-r-5"
                               #passwordComponent
                               [password]="password.value">
        </mat-password-strength>
        <mat-password-strength-info fxFlex="100" class="p-l-5 p-r-5"
                                    *ngIf="password.invalid && !password.errors?.required"
                                    [passwordComponent]="passwordComponent"
                                    [@.disabled]="true"
                                    lowerCaseCriteriaMsg="alespoň 1 malé písmeno"
                                    upperCaseCriteriaMsg="alespoň 1 velké písmeno"
                                    digitsCriteriaMsg="alespoň 1 číslici"
                                    specialCharsCriteriaMsg="alespoň 1 speciální znak"
                                    minCharsCriteriaMsg="alespoň {{ this.passwordComponent.min }} znaků"
        >
        </mat-password-strength-info>

        <mat-form-field appearance="outline" fxFlex="100" class="p-l-5 p-r-5 p-t-10">
          <mat-label>Zopakujte heslo</mat-label>
          <input type="password" matInput autocomplete="off"
                 [type]="hideConfirmPassword ? 'password' : 'text'"
                 formControlName="confirmPassword"
                 required>
          <button mat-icon-button matSuffix tabindex="-1"
                  type="button"
                  (click)="hideConfirmPassword = !hideConfirmPassword"
                  [attr.aria-label]="'Skrýt heslo'"
                  [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="confirmPassword.errors?.required">
            Chybějící údaj
          </mat-error>
          <mat-error *ngIf="confirmPassword.hasError('NoPasswordMatch')">
            Zadaná hesla se neshodují
          </mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary"
                class="btn-block btn-lg m-t-20"
                fxFlex="100">
          NASTAVIT NOVÉ HESLO
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
