<mat-card>
  <mat-card-content>
    <ng-container *ngIf="!isLoading">
      <mat-card-title>
        {{termDetails.courseAbbreviation}} - {{termDetails.termName}} ({{termDetails.academicYear}}) -
        <span *ngFor="let date of termDetails.termDates; let isLast = last">
          {{ date | date: 'dd.MM.yyyy'}}<span *ngIf="!isLast">,&nbsp;</span>
        </span>
      </mat-card-title>
      <mat-card-subtitle>
        {{termDetails.description}}
      </mat-card-subtitle>

      <div fxLayout="row wrap" fxLayoutAlign="space-between center"
           class="m-b-25"
           *ngIf="isUserLoggedIn">
        <div class="m-r-20">
          <span class="f-w-400">Spravují:</span>
          <a *ngFor="let manager of termDetails.managers; let isLast = last"
             href="mailto:{{manager.email}}">
            {{manager.nameWithDegrees}}<span *ngIf="!isLast">,&nbsp;</span>
          </a>
        </div>
        <div *ngIf="isUserEmployee || isUserAdmin">
          <span class="m-r-10" *ngIf="generatingInProgress && termDetails.remainingGenerating">
            <span class="f-w-400">Zbývá vygenerovat: </span>{{termDetails.remainingGenerating}} zadání
          </span>
          <button *ngIf="termDetails.generatingFails?.length > 0"
                  mat-stroked-button
                  color="accent"
                  class="m-r-10"
                  (click)="showGeneratingFails()">
            <mat-icon>info</mat-icon>
            ZOBRAZIT CHYBY
          </button>
          <app-generate-assignment generateTooltipText="Vygenerovat zadání pro všechny běhy"
                                   downloadTooltipText="Stáhnout vygenerovaná zadání pro všechny běhy"
                                   [showIcon]="true"
                                   [termId]="termId"
                                   [showDownload]="areAllTermTermRunTestScheduleAssignmentsGenerated(termDetails.termRuns)"
                                   [generatingInProgress]="generatingInProgress"
                                   (generatingStarted)="onGeneratingStarted()"
                                   (generatingCanceled)="onGeneratingCanceled()">
          </app-generate-assignment>
          <a mat-raised-button color="primary" class="m-l-10"
             routerLink="./edit">
            <mat-icon>edit</mat-icon>
            EDITOVAT
          </a>
          <button mat-raised-button color="warn" class="m-l-10"
                  (click)="showConfirmDialog(termDetails)">
            <mat-icon>delete</mat-icon>
            ODSTRANIT
          </button>
        </div>
      </div>

      <h5 class="m-b-5 m-t-15">Běhy:</h5>

      <mat-tab-group class="p-b-10" mat-align-tabs="start"
                     [selectedIndex]="getHighlightIndex(termDetails)">
        <mat-tab *ngFor="let termRun of termDetails.termRuns; trackBy: trackByTermRunId"
                 [label]="(termRun.startTime | date:'dd.MM.yyyy HH:mm') + ' - ' + (termRun.endTime | date:'HH:mm')"
                 [aria-label]=termRun.highlight.toString()>

          <ng-container *ngIf="isUserEmployee || isUserAdmin">
            <h4 class="m-b-10 m-t-25">Šablony zadání pro tento běh:</h4>
            <ng-container *ngIf="termRun.assignments?.length > 0">
              <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div>
                  <a *ngFor="let assignment of termRun.assignments; let isLast = last"
                     routerLink="/assignments/{{assignment.assignmentId}}">
                    {{assignment.name}}<span *ngIf="!isLast">,&nbsp;</span>
                  </a>
                </div>
                <app-generate-assignment class="m-l-10"
                                         *ngIf="doesAllTermRunTestSchedulesHaveAssignments(termRun.seatingPlans)"
                                         generateTooltipText="Vygenerovat zadání pouze pro tento běh"
                                         downloadTooltipText="Stáhnout vygenerovaná zadání pouze pro tento běh"
                                         [termId]="termId"
                                         [termRunId]="termRun.id"
                                         [showDownload]="areAllTermRunTestScheduleAssignmentsGenerated(termRun.seatingPlans)"
                                         [disableGenerateButton]="generatingInProgress"
                                         (generatingStarted)="onGeneratingStarted()">
                </app-generate-assignment>
              </div>
            </ng-container>
            <div *ngIf="!termRun.assignments || termRun.assignments.length === 0">
              Tento běh nemá přidělené žádná zadání
            </div>
          </ng-container>

          <h4 class="m-b-10 m-t-25">Legenda:</h4>
          <app-room-plan-legend [clickable]="false" [withBlocked]="true"
                                [withYourSeat]="isUserStudent"></app-room-plan-legend>

          <mat-divider inset class="m-t-20 m-b-20"></mat-divider>


          <mat-accordion [multi]=true>
            <mat-expansion-panel
              *ngFor="let seatingPlan of termRun.seatingPlans; first as firstPlan, last as isLast, trackBy: trackByRoomAbbreviation"
              [expanded]="seatingPlan.highlight"
              class="m-l-5 m-r-5" [ngClass]="{'m-b-5': isLast}">
              <mat-expansion-panel-header class="header">
                <mat-panel-title class="bold">
                  {{seatingPlan.roomAbbreviation}}
                </mat-panel-title>
                <mat-panel-description>
                  {{(termRun.startTime | date:'dd.MM.yyyy HH:mm') + ' - ' + (termRun.endTime | date:'HH:mm')}}
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div *ngIf="isUserEmployee || isUserAdmin"
                   fxLayout="row" fxLayoutAlign="end">
                <button (click)="downloadStudentsCsv(termRun.id, seatingPlan.roomAbbreviation)"
                        color="accent"
                        class="m-r-10"
                        mat-stroked-button
                        matTooltip="Stáhnout seznam studentů v této místnosti jako soubor .CSV">
                  STÁHNOUT SEZNAM STUDENTŮ
                </button>
                <app-generate-assignment *ngIf="doesAllTestSchedulesHaveAssignments(seatingPlan.testSchedules)"
                                         generateTooltipText="Vygenerovat zadání pouze pro tuto místnost"
                                         downloadTooltipText="Stáhnout vygenerovaná zadání pouze pro tuto místnost"
                                         [termId]="termId"
                                         [termRunId]="termRun.id"
                                         [roomAbbreviation]="seatingPlan.roomAbbreviation"
                                         [showDownload]="areAllTestScheduleAssignmentsGenerated(seatingPlan.testSchedules)"
                                         [disableGenerateButton]="generatingInProgress"
                                         (generatingStarted)="onGeneratingStarted()">
                </app-generate-assignment>
              </div>

              <div class="overflow-auto">
                <app-room-plan class="m-l-auto m-r-auto"
                               [inputCellMatrix]="seatingPlan.seatingPlan"
                               [showHoverInfo]="isUserEmployee || isUserAdmin"
                               [showCellNumbers]="true">
                </app-room-plan>
              </div>
              <app-test-schedule-table *ngIf="seatingPlan.testSchedules"
                                       [testSchedules]="seatingPlan.testSchedules"
                                       [disableGenerateButtons]="generatingInProgress"
                                       [termId]="termId">
              </app-test-schedule-table>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
      </mat-tab-group>
    </ng-container>

    <ng-container *ngIf="isLoading">
      <mat-spinner diameter="150" class="m-auto"></mat-spinner>
    </ng-container>

  </mat-card-content>
</mat-card>


