<h1 mat-dialog-title>{{ options.title }}</h1>

<div mat-dialog-content>
  <p class="dialog-message">{{ options.message }}</p>
</div>

<div mat-dialog-actions class="pull-right">
  <button *ngIf="options.cancelText" mat-button [color]="options.cancelColor" mat-dialog-close>
    {{ options.cancelText }}
  </button>
  <button mat-button [color]="options.confirmColor" [mat-dialog-close]="true" cdkFocusInitial>
    {{ options.confirmText }}
  </button>
</div>
