<mat-card>
  <mat-card-content>
    <ng-container *ngIf="roomDetails$ | async as roomDetails; else loading">
      <mat-card-title>
        {{roomDetails.abbreviation}} - {{roomDetails.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{roomDetails.description}}
      </mat-card-subtitle>

      <div fxLayout="row wrap" fxLayoutAlign="space-between center"
           *ngIf="loggedUserEmail">
        <div class="m-r-20">
          <span class="f-w-400">Vytvořil:</span>
          <a href="mailto:{{roomDetails.creator.email}}">
            {{roomDetails.creator.nameWithDegrees}}
          </a>
        </div>
        <div *ngIf="(roomDetails.creator.email === loggedUserEmail || isAdmin)">
          <a mat-raised-button color="primary"
             routerLink="./edit">
            <mat-icon>edit</mat-icon>
            EDITOVAT
          </a>
          <button mat-raised-button color="warn" class="m-l-15"
                  (click)="showConfirmDialog(roomDetails);">
            <mat-icon>delete</mat-icon>
            ODSTRANIT
          </button>
        </div>
      </div>

      <h4 class="m-b-10 m-t-25">Legenda:</h4>
      <app-room-plan-legend [clickable]="false" [withBlocked]="true"></app-room-plan-legend>

      <mat-divider inset class="m-t-20 m-b-20"></mat-divider>

      <ng-container *ngFor="let roomPlan of roomDetails.roomPlans; last as lastPlan">
        <h4 class="m-b-10 f-w-500" [ngSwitch]="roomPlan.spacing">
          <span *ngSwitchCase="'ZERO'">Vedle sebe</span>
          <span *ngSwitchCase="'ONE'">Ob jedno</span>
          <span *ngSwitchCase="'TWO'">Ob dvě</span>
        </h4>
        <h5 class="m-t-10 m-b-10">
          Počet míst k sezení: {{roomPlan.capacity}}
        </h5>

        <div fxLayout="row wrap" class="overflow-auto">
          <app-room-plan class="m-l-auto m-r-auto"
                         [inputCellMatrix]="roomPlan.cells">
          </app-room-plan>
        </div>
        <mat-divider inset class="m-t-40 m-b-40" *ngIf="!lastPlan"></mat-divider>
      </ng-container>
    </ng-container>

    <ng-template #loading>
      <mat-spinner diameter="150" class="m-auto"></mat-spinner>
    </ng-template>
  </mat-card-content>
</mat-card>


