<form [formGroup]="distributionAndInfoForm">
  <div class="subform-header">
    <div class="mat-step-icon">a</div>
    <h5>Udejte způsob rozřazení studentů do místností a jejich rozsazení v nich</h5>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Rozřazení</mat-label>
    <mat-select formControlName="distribution" [value]="distribution.value" required>
      <mat-option [value]="distributionKeys[0]">Náhodné</mat-option>
      <mat-option [value]="distributionKeys[1]">Abecední</mat-option>
    </mat-select>
    <mat-error *ngIf="distribution.errors?.required">
      Chybějící rozřazení
    </mat-error>
  </mat-form-field>


  <div class="subform-header">
    <div class="mat-step-icon">b</div>
    <h5>Volitelně vyberte další zaregistrované vyučující, kteří budou mít právo spravovat tento termín zkoušky</h5>
  </div>
  <mat-form-field appearance="outline" *ngIf="!isLoading">
    <mat-label>Vyučující</mat-label>
    <mat-select formControlName="employees"
                multiple
                [value]="selectedEmployeeList"
                [compareWith]="compareFunction"
                (openedChange)="clearFilter($event)">
      <mat-form-field class="p-l-15 p-r-15 p-b-0">
        <mat-label>Vyhledat</mat-label>
        <input matInput (keyup)="onKey($event)">
      </mat-form-field>
      <ng-container *ngFor="let employee of employeeList">
        <mat-option [hidden]="!filteredEmployeeLists.includes(employee)" [value]="employee">
          <span class="bold">{{employee.email}}</span> - {{employee.nameWithDegrees}}
        </mat-option>
      </ng-container>
      <mat-optgroup *ngIf="filteredEmployeeLists.length === 0">Nic nenalezeno</mat-optgroup>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="isLoading">
    <mat-spinner diameter="100" class="m-auto"></mat-spinner>
  </ng-container>

  <div class="subform-header">
    <div class="mat-step-icon">c</div>
    <h5>Volitelně vyplňte libovolné informace, které budou studentům zobrazeny po zobrazení podrobností termínu
      zkoušky</h5>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Popisek termínu zkoušky</mat-label>
    <textarea type="text" matInput
              formControlName="termInformationText"
              rows="3">
    </textarea>
    <mat-error *ngIf="termInformationText.errors?.maxlength">
      Příliš dlouhý vstup (max 10 000 znaků)
    </mat-error>
  </mat-form-field>

  <div class="subform-header">
    <div class="mat-step-icon">d</div>
    <div>
      <h5>Vyberte, zda po {{edit ? "uložení úprav" : "vytvoření termínu zkoušky"}} chcete studentům zaslat e-mailem
        zprávu, která je upozorní na {{edit ? "změny v " : "vytvoření"}} termínu zkoušky a která bude obsahovat i další
        podrobnosti.
        Volitelně můžete vyplnit i zprávu, která bude zaslána společně s těmito informacemi.</h5>
      <ng-container *ngIf="edit">
        <div class="line-space"></div>
        <h6>
          <b>POZNÁMKA:</b> Tento e-mail bude zaslán jen těm studentům, jichž se nějaké změny dotknou.
          Pokud byla například přidána prázdná místnost, e-mail nedojde žádnému ze studentů.
          Pokud byl například změněn čas, e-mail apod. dojde všem studentům.
        </h6>
      </ng-container>
    </div>
  </div>

  <mat-checkbox class="m-b-15 bold"
                color="primary"
                formControlName="sendEmail"
                labelPosition="before">
    Zaslat studentům zprávu s upozorněním a dalšími podrobmostmi
  </mat-checkbox>

  <mat-form-field *ngIf="sendEmail.value" appearance="outline">
    <mat-label>E-mailová zpráva</mat-label>
    <textarea type="text" matInput
              formControlName="emailText"
              rows="3">
  </textarea>
    <mat-error *ngIf="emailText.errors?.maxlength">
      Příliš dlouhý vstup (max 10 000 znaků)
    </mat-error>
  </mat-form-field>
</form>
