<mat-form-field>
  <mat-label>Vyhledat</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Např. xlogin00" #input>
</mat-form-field>

<div class="mat-elevation-z8 m-b-15">
  <div class="overflow-auto">
    <table mat-table [dataSource]="studentsDataSource" class="table data-table" matSort>

      <!--  HEADER  -->
      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Login</th>
        <td mat-cell *matCellDef="let row"> {{row.login}} </td>
      </ng-container>

      <ng-container matColumnDef="nameAndDegrees">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Jméno a tituly</th>
        <td mat-cell *matCellDef="let row"> {{row.nameAndDegrees}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Akce</th>
        <td mat-cell *matCellDef="let row">
          <ng-container>
            <button mat-icon-button color="warn" (click)="showConfirmDialog(row)"
                    appClickStopPropagation>
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="headerColumns" class="b-b-2"></tr>
      <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data-cell" [colSpan]="headerColumns.length">
          <ng-container
            *ngIf="studentsDataSource.data.length === 0; then noData; else someData">
          </ng-container>
        </td>

        <ng-template #noData>
          {{noDataMessage}}
        </ng-template>
        <ng-template #someData>
          Nenalezena žádná data odpovídající filtru "{{input.value}}"
        </ng-template>
      </tr>
    </table>
  </div>
  <mat-paginator showFirstLastButtons
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
