<h1 mat-dialog-title>Možnosti stažení</h1>

<div mat-dialog-content class="no-overflow">
  <form id="options-form" [formGroup]="downloadOptionsForm" (ngSubmit)="onSubmit()">
    <mat-checkbox color="primary" formControlName="pack" class="m-b-15">
      Sloučit všechna vygenerovaná zadání do jediného souboru PDF
    </mat-checkbox>

    <mat-checkbox color="primary" formControlName="doubleSided">
      Oboustranný tisk
    </mat-checkbox>
  </form>
</div>

<div mat-dialog-actions class="pull-right">
  <button mat-button color="primary" mat-dialog-close>
    ZRUŠIT
  </button>
  <button mat-button color="accent" type="submit" form="options-form"
          [disabled]="downloadOptionsForm.invalid">
    STÁHNOUT
  </button>
</div>
