<form [formGroup]="termRunInfoForm">

  <div class="subform-header">
    <div class="mat-step-icon">a</div>
    <h5>Zvolte způsob rozsazení studentů do místností (počet volných míst mezi studenty)</h5>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Rozsazení</mat-label>
    <mat-select formControlName="spacing" [value]="spacing.value" required>
      <mat-option [value]="spacingKeys[0]">Vedle sebe</mat-option>
      <mat-option [value]="spacingKeys[1]">Ob jedno</mat-option>
      <mat-option [value]="spacingKeys[2]">Ob dvě</mat-option>
    </mat-select>
    <mat-error *ngIf="spacing.errors?.required">
      Chybějící hodnota
    </mat-error>
  </mat-form-field>

  <div class="subform-header m-t-0">
    <div class="mat-step-icon">b</div>
    <div>
      <h5>Specifikujte místnosti, ve kterých se navazující běhy budou konat a počet na sebe navazujících běhů.</h5>
      <div class="line-space"></div>
      <h6>Vysvětlení: První běh započne v určený čas, každý další běh bude naplánován do stejných místností na čas, kdy
        skončí předchozí běh.</h6>
      <div class="line-space"></div>
      <h6>Pokud potřebujete vytvořit další skupinu běhů, která nenavazuje na předchozí (např. jeden běh končí ve 14
        hodin a další je až od 17 hodin), využijte tlačítko "Přidat další
        skupinu běhů"</h6>
    </div>
  </div>

  <mat-accordion [multi]=true>
    <mat-expansion-panel
      *ngFor="let item of termRunFormGroups.controls; let i = index, let isLast = last"
      [expanded]="isLast" formArrayName="termRunFormGroups">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Skupina navazujících běhů {{i + 1}}
        </mat-panel-title>
        <mat-panel-description>
          Usazeno studentů: {{ numberOfStudentsInRuns[i] }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div [formGroupName]="i">
        <div fxLayout="row wrap"
             fxLayoutGap.gt-sm="15px">
          <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(60% - 15px)">
            <mat-label>Datum a čas konání</mat-label>
            <input type="datetime-local" matInput
                   formControlName="startDateTime"
                   required>
            <mat-error *ngIf="startDateTime(i).errors?.required">
              Chybějící hodnota
            </mat-error>
            <mat-error *ngIf="startDateTime(i).errors?.maxlength">
              Příliš dlouhý vstup
            </mat-error>
            <mat-error *ngIf="startDateTime(i).errors?.invalidDate">
              Nelze vybrat čas v minulosti
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(40% - 15px)">
            <mat-label>Doba trvání běhu (v minutách)</mat-label>
            <input type="number" min="1" matInput
                   formControlName="termRunLength"
                   required>
            <mat-error *ngIf="termRunLength(i).errors?.required">
              Chybějící hodnota
            </mat-error>
            <mat-error *ngIf="termRunLength(i).errors?.min">
              Běh zkoušky musí trvat alespoň 1 minutu
            </mat-error>
            <mat-error *ngIf="termRunLength(i).errors?.max">
              Příliš velký vstup
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Počet na sebe navazujících běhů</mat-label>
          <input type="number" min="1" matInput
                 formControlName="numberOfSubsequentRuns"
                 required>
          <mat-error *ngIf="numberOfSubsequentRuns(i).errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="numberOfSubsequentRuns(i).errors?.min">
            Termín zkoušky musí mít alespoň jeden běh
          </mat-error>
          <mat-error *ngIf="numberOfSubsequentRuns(i).errors?.max">
            Příliš velký vstup
          </mat-error>
        </mat-form-field>

        <div fxLayout="row"
             fxLayoutGap="15px"
             fxLayoutAlign="space-between baseline"
             *ngIf="!isLoading">
          <mat-form-field appearance="outline">
            <mat-label>Volné místnosti (název - kapacita)</mat-label>
            <mat-select formControlName="selectedRooms" multiple
                        [value]="selectedFreeRoomLists[i]"
                        [compareWith]="compareFunctionRooms"
                        (openedChange)="clearFilterRooms($event, i)">
              <mat-form-field class="p-l-15 p-r-15 p-b-0">
                <mat-label>Vyhledat</mat-label>
                <input matInput (keyup)="onKey($event, i)" placeholder="E112">
              </mat-form-field>
              <ng-container *ngFor="let room of freeRoomLists[i]">
                <mat-option [hidden]="!filteredFreeRoomLists[i].includes(room)" [value]="room">
                  <span class="bold">{{room.abbreviation}}</span> - {{room.name}}
                  ({{room.roomPlans[selectedSpacingBetweenStudents].capacity}})
                </mat-option>
              </ng-container>
              <mat-optgroup *ngIf="filteredFreeRoomLists[i].length === 0">Nic nenalezeno</mat-optgroup>
            </mat-select>
            <mat-error *ngIf="selectedRooms(i).errors?.required">
              Běhy musí proběhnout alespoň v jedné místnosti
            </mat-error>
          </mat-form-field>

          <button (click)="findFreeRooms(i, null)" class="no-flex" color="accent" mat-button type="button"
                  [disabled]="!isRefreshButtonEnabled[i]">
            OBNOVIT
          </button>
        </div>
        <ng-container *ngIf="isLoading">
          <mat-spinner diameter="50" class="m-l-auto m-r-auto m-b-25"></mat-spinner>
        </ng-container>

        <mat-form-field appearance="outline" *ngIf="availableAssignments.length > 0">
          <mat-label>Zadání pro tuto skupinu běhů</mat-label>
          <mat-select formControlName="selectedAssignments" multiple
                      [value]="selectedAssignmentsLists[i]"
                      [compareWith]="compareFunctionAssignments"
                      (openedChange)="clearFilterAssignments($event, i)">
            <mat-form-field class="p-l-15 p-r-15 p-b-0">
              <mat-label>Vyhledat</mat-label>
              <input matInput (keyup)="onKeyAssignment($event, i)" placeholder="E112">
            </mat-form-field>
            <ng-container *ngFor="let assignment of assignmentsLists[i]">
              <mat-option [hidden]="!filteredAssignmentsLists[i].includes(assignment)" [value]="assignment">
                {{assignment.name}}
              </mat-option>
            </ng-container>
            <mat-optgroup *ngIf="filteredAssignmentsLists[i].length === 0">Nic nenalezeno</mat-optgroup>
          </mat-select>
        </mat-form-field>

        <mat-action-row *ngIf="termRunFormGroups.length != 1">
          <button mat-button color="warn"
                  (click)="removeTermRunFormGroup(i)">
            ODSTRANIT SKUPINU
          </button>
        </mat-action-row>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div fxLayout="row wrap"
       fxLayoutGap="15px"
       fxLayoutAlign="space-between center"
       class="m-b-15">
    <button mat-raised-button color="primary" type="button"
            (click)="addTermRunFormGroup()">
      PŘIDAT DALŠÍ SKUPINU BĚHŮ
    </button>
    <h3 *ngIf="numberOfRemainingStudents >= 0">Zbývá usadit studentů: {{ numberOfRemainingStudents }}</h3>
    <h3 *ngIf="numberOfRemainingStudents < 0">Zbývá usadit studentů: 0</h3>
  </div>

</form>
