<mat-card>
  <mat-card-content>

    <mat-card-title class="m-b-20">
      Hromadný import předmětů pomocí souboru .csv
    </mat-card-title>

    <input type="file" class="file-input"
           [accept]="acceptedFileTypes.toString()"
           (change)="onFileSelected($event)" #fileUpload>

    <form [formGroup]="courseListForm" id="courseForm" (ngSubmit)="onSubmit()">
      <div class="subform-header">
        <div class="mat-step-icon">a</div>
        <div>
          <h5>
            Vložte data do textového pole nebo je nahrajte přímo ze souboru .csv pomocí tlačítka pro nahrání.
          </h5>
          <div class="line-space"></div>
          <h5>
            Odstraňte prosím všechny řádky, které neobsahují data o předmětech (řádek s názvy sloupců apod.).
          </h5>
          <div class="line-space"></div>
          <h5>
            Ujistěte se také, že všechny řádky obsahují požadovaná data, neobsahují
            duplicitní data a všechny znaky jsou čitelné.
          </h5>
        </div>
      </div>

      <div class="file-upload">
        {{csvFile?.name || "Zatím nebyl nahrán žádný *.csv soubor"}}
        <button type="button" mat-stroked-button color="primary" class="upload-btn m-l-10"
                (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
          NAHRÁT
        </button>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Soubor .csv s informacemi o předmětech</mat-label>
        <textarea class="textarea-font" matInput
                  formControlName="coursesCsv"
                  rows="5"
                  required
                  (keydown.tab)="onTabTextarea($event)">
        </textarea>
        <mat-error *ngIf="coursesCsv.errors?.required">
          Chybějící data
        </mat-error>
      </mat-form-field>

      <div class="subform-header">
        <div class="mat-step-icon">b</div>
        <h5>
          Specifikujte znakovou sadu, která bude použita pro dekódování souboru, a znak, který odděluje jednotlivé
          sloupce.
        </h5>
      </div>
      <div fxLayout="row wrap"
           fxLayoutGap.gt-sm="15px">
        <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(60% - 15px)">
          <mat-label>Znaková sada (pro dekódování .csv souboru)</mat-label>
          <mat-select formControlName="encoding" required>
            <mat-option *ngFor="let encoding of encodingList" [value]="encoding">{{encoding}}</mat-option>
          </mat-select>
          <mat-error *ngIf="encoding.errors?.required">
            Chybějící hodnota
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(40% - 15px)">
          <mat-label>Znak oddělovače sloupců</mat-label>
          <input type="text" matInput
                 formControlName="separator"
                 required
                 placeholder=";"
                 (keydown.tab)="onTabSeparator($event)">
          <mat-error *ngIf="separator.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="separator.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>
      </div>


      <div class="subform-header">
        <div class="mat-step-icon">c</div>
        <h5>Udejte čísla sloupců, ve kterých se nachází požadované údaje (indexováno od 1)</h5>
      </div>

      <div fxLayout="row wrap"
           fxLayoutGap.gt-sm="15px">
        <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(33% - 15px)">
          <mat-label>Zkratky předmětů</mat-label>
          <input type="number" min="1" matInput
                 formControlName="abbreviationPosition"
                 required>
          <mat-error *ngIf="abbreviationPosition.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="abbreviationPosition.errors?.min">
            Pořadí ve sloupci musí být větší než nula
          </mat-error>
          <mat-error *ngIf="abbreviationPosition.hasError('SameNumber')">
            Čísla sloupců musí být různá
          </mat-error>
          <mat-error *ngIf="abbreviationPosition.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(33% - 15px)">
          <mat-label>Názvy předmětů</mat-label>
          <input type="number" min="1" matInput
                 formControlName="namePosition"
                 required>
          <mat-error *ngIf="namePosition.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="namePosition.errors?.min">
            Pořadí ve sloupci musí být větší než nula
          </mat-error>
          <mat-error *ngIf="namePosition.hasError('SameNumber')">
            Čísla sloupců musí být různá
          </mat-error>
          <mat-error *ngIf="namePosition.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex.lt-sm="100" fxFlex.gt-sm="calc(34% - 15px)">
          <mat-label>Akademické roky předmětů</mat-label>
          <input type="number" min="1" matInput
                 formControlName="academicYearPosition"
                 required>
          <mat-error *ngIf="academicYearPosition.errors?.required">
            Chybějící hodnota
          </mat-error>
          <mat-error *ngIf="academicYearPosition.errors?.min">
            Pořadí ve sloupci musí být větší než nula
          </mat-error>
          <mat-error *ngIf="academicYearPosition.hasError('SameNumber')">
            Čísla sloupců musí být různá
          </mat-error>
          <mat-error *ngIf="academicYearPosition.errors?.maxlength">
            Příliš dlouhý vstup
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <mat-checkbox [checked]="showPreview"
                  (change)="showPreview = !showPreview"
                  labelPosition="before"
                  class="m-b-15 bold">Zobrazit náhled načtených dat
    </mat-checkbox>

    <div class="mat-elevation-z8 m-b-15" *ngIf="showPreview">
      <div class="overflow-auto">
        <table mat-table [dataSource]="coursesDataSource" class="table data-table" matSort>

          <!--  HEADER  -->
          <ng-container matColumnDef="abbreviation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Zkratka předmětu</th>
            <td mat-cell *matCellDef="let row"> {{row.abbreviation}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Název předmětu</th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="academicYear">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Akademický rok</th>
            <td mat-cell *matCellDef="let row"> {{row.academicYear}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="headerColumns" class="b-b-2"></tr>
          <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-data-cell" [colSpan]="headerColumns.length">
              Žádný náhled není k dispozici. Udejte nebo případně upravte vyplněné údaje.
            </td>
          </tr>
        </table>

      </div>
      <mat-paginator showFirstLastButtons
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>

    <mat-card-actions>
      <button mat-raised-button type="submit"
              color="primary"
              form="courseForm">
        VYTVOŘIT
      </button>
      <button type="button" mat-stroked-button (click)="clearForm()">
        RESET
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
