<app-room-plan-legend [clickable]="false" [withBlocked]="true" [withSelected]="true"></app-room-plan-legend>

<div fxLayout="row wrap" class="overflow-auto m-r-15">
  <app-room-plan class="m-l-auto m-r-auto"
                 [inputCellMatrix]="data.roomPlanCells"
                 [clickable]="clickFunctionEnabled"
                 [selectedSeats]="oldSelectedSeats"
                 (selectedSeatsChange)="onSelectedSeatsChange($event)"
                 [showHoverInfo]="data.edit"
                 [showCellNumbers]="data.edit">
  </app-room-plan>
</div>

<div class="m-l-15">
  <h4>Zbývá usadit studentů: {{ remainingStudents }}</h4>
</div>

<div mat-dialog-actions class="pull-right">
  <button mat-button color="primary" mat-dialog-close>
    ZRUŠIT
  </button>
  <button mat-button color="accent"
          (click)="onSubmit()"
          [disabled]="remainingStudents > 0">
    ULOŽIT
  </button>
</div>
