<form [formGroup]="manualPlacementForm">

  <div class="subform-header m-t-0">
    <div class="mat-step-icon">a</div>
    <div>
      <h5>Pokud chcete, vyberte studenty, a určete jim konkrétní místa, na která mají být usazeni.</h5>
      <div class="line-space"></div>
      <h6>Pokud vyberete pouze běh, vybraní studenti budou usazeni na konec poslední místnosti.</h6>
      <div class="line-space"></div>
      <h6>Pokud vyberete běh a místnost, ale nevyberete konkrétní místa, vybraní studenti budou usazeni na
        konec vybrané místnosti.</h6>
      <div class="line-space"></div>
      <h6><b>UPOZORNĚNÍ:</b> Manuálně umístění studenti nebudou respektovat zvolený způsob rozřazení v místnosti
        (tj. budou např. mimo abecední pořadí). Pořadové číslo pro správné seřazení však zůstane zachováno.</h6>
      <ng-container *ngIf="edit">
        <div class="line-space"></div>
        <h6><b>POZNÁMKA:</b> V rozbalovacích menu se zobrazí jen ty běhy a místnosti, ve kterých je dostatek volných
          míst.</h6>
        <div class="line-space"></div>
        <h6><b>POZNÁMKA:</b> Pokud při editaci přesunute studenta na jiné místo, staré místo zůstane prázné.
          Je však možné ho následně využít k manuálnímu usazení jiného studenta.</h6>
        <div class="line-space"></div>
        <h6><b>DOPORUČENÍ:</b> Před pokračováním zkontrolujte, zda přesazení studenti opravdu sedí na vámi zamýšleném
          místě.</h6>
      </ng-container>
    </div>
  </div>

  <mat-accordion [multi]=true>
    <mat-expansion-panel
      *ngFor="let item of placementFormGroups.controls; let i = index, let isLast = last"
      [expanded]="isLast" formArrayName="placementFormGroups">
      <mat-expansion-panel-header *ngIf="selectedTermRuns[i]; else noTermRun">
        <mat-panel-title>
          {{ selectedTermRuns[i].startTime | date:'dd.MM.yyyy HH:mm' }}
          - {{ selectedTermRuns[i].endTime | date:'dd.MM.yyyy HH:mm' }}
        </mat-panel-title>
        <mat-panel-description>
          <span *ngFor="let abbreviation of selectedRoomsAbbreviations[i]; let isLastRoom = last">
            {{ abbreviation }}<span *ngIf="!isLastRoom">,&nbsp;</span>
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template #noTermRun>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Doposud nevybraný běh
          </mat-panel-title>
        </mat-expansion-panel-header>
      </ng-template>
      <div [formGroupName]="i">
        <mat-form-field appearance="outline">
          <mat-label>Vyberte studenty z vloženého seznamu</mat-label>
          <mat-select formControlName="students"
                      multiple
                      required
                      (openedChange)="clearFilter($event, i)">
            <mat-form-field class="p-l-15 p-r-15 p-b-0">
              <mat-label>Vyhledat</mat-label>
              <input matInput (keyup)="onKeyStudent($event, i)" placeholder="xlogin00">
            </mat-form-field>
            <ng-container *ngFor="let student of studentList">
              <mat-option [hidden]="!filteredStudentsLists[i].includes(student)" [value]="student">
                <span class="bold">{{student.login}}</span> - {{student.nameAndDegrees}}
              </mat-option>
            </ng-container>
            <mat-optgroup *ngIf="filteredStudentsLists[i].length === 0">Nic nenalezeno</mat-optgroup>
          </mat-select>
          <mat-error *ngIf="students(i).errors?.required">
            Musí být vybrán alespoň jeden student
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Běh</mat-label>
          <mat-select formControlName="termRun" required>
            <mat-option *ngFor="let termRun of termRunList" [value]="termRun">
              {{termRun.startTime | date:'dd.MM.yyyy HH:mm'}} - {{termRun.endTime | date: 'dd.MM.yyyy HH:mm'}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="termRun(i).errors?.required">
            Student musí být umístěn do některého z běhů
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Místnost</mat-label>
          <mat-select formControlName="room">
            <mat-option>
              Usazovat postupně od poslední místnosti
            </mat-option>
            <mat-option *ngFor="let room of roomList[i]" [value]="room">
              <span class="bold">{{room.abbreviation}}</span> - {{room.name}}
              ({{room.roomPlans[selectedSpacingBetweenStudents].capacity}})
            </mat-option>
          </mat-select>
          <mat-error *ngIf="room(i).errors?.required">
            Musí být vybrána některá místnost
          </mat-error>
        </mat-form-field>

        <div class="m-b-35"
             fxLayout="row"
             fxLayoutGap="20px"
             fxLayoutAlign="baseline center">
          <button mat-stroked-button color="accent"
                  [disabled]="placeButtonDisabled[i]"
                  (click)="showSelectPlaceDialog(i)">
            URČIT KONKRÉTNÍ MÍSTO
          </button>
          <mat-error *ngIf="mandatorySelectedSeats[i] && selectedSeatsList[i].length === 0">
            Musí být vybrána konkrétní místa
          </mat-error>
        </div>

        <mat-action-row>
          <button mat-button color="warn"
                  (click)="removePlacementFormGroup(i)">
            ODSTRANIT USAZENÍ DO BĚHU
          </button>
        </mat-action-row>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-raised-button color="primary" class="m-b-15 m-t-15" type="button"
          (click)="addPlacementFormGroup()">
    {{placementFormGroups.length == 0 ? 'USADIT STUDENTY DO BĚHU' : 'USADIT STUDENTY DO DALŠÍHO BĚHU'}}
  </button>
</form>
