<div class="page-breadcrumb p-t-20 p-b-20 p-l-30 p-r-30">
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" class="align-self-center">
      <h4 class="page-title text-themecolor m-0">
        {{ menuName }}
      </h4>
    </div>
    <!--    <div fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100" class="align-self-center">-->
    <!--      <div class="breadcrumb d-flex align-items-center float-right float-sm-left">-->
    <!--        <ul class="list-style-none d-flex align-items-center">-->
    <!--          <li class="breadcrumb-item" tabindex="0" ng-reflect-router-link="/dashboard"><a-->
    <!--            ng-reflect-router-link="/dashboard"-->
    <!--            href="/demos/angular-admin-templates/material-angular/material/dashboard">Dashboard</a></li>-->
    <!--          <li class="breadcrumb-item active">ChartJs</li>-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
