<mat-card>
  <mat-card-content>
    <ng-container *ngIf="!isUserLoggedIn">
      <mat-card-title>
        Seznam všech vytvořených termínů zkoušek
      </mat-card-title>
      <mat-card-subtitle>
        Podrobnosti o dané zkoušce můžete zobrazit kliknutím na tlačítko ROZSAZENÍ.<br>
        Pokud chcete zobrazit seznam jen vašich zkoušek a podrobnosti k nim, včetně přiřazeného místa k sezení,
        PŘIHLASTE SE.
      </mat-card-subtitle>
    </ng-container>
    <ng-container *ngIf="isUserLoggedIn">
      <mat-card-title>
        Seznam vašich termínů zkoušek
      </mat-card-title>
      <mat-card-subtitle>
        Podrobnosti o dané zkoušce můžete zobrazit kliknutím na tlačítko ROZSAZENÍ.
      </mat-card-subtitle>
    </ng-container>

    <a mat-raised-button color="primary"
       class="m-b-10"
       routerLink="/terms/new"
       *ngIf="isUserAdmin || isUserEmployee">
      NOVÝ TERMÍN ZKOUŠKY
    </a>

    <ng-container *ngIf="isLoading else ready">
      <mat-spinner diameter="200" class="m-auto"></mat-spinner>
    </ng-container>


    <ng-template #ready>
      <mat-form-field *ngIf="terms.length > 0">
        <mat-label>Vyhledat</mat-label>
        <input matInput (keyup)="onKey($event)" placeholder="Např. AVS" #input>
      </mat-form-field>

      <mat-accordion [multi]=true *ngIf="filteredTerms.length > 0">
        <mat-expansion-panel *ngFor="let term of filteredTerms; let isFirst = first" [expanded]="isFirst">
          <mat-expansion-panel-header class="header">
            <mat-panel-title class="bold">
              {{term.courseAbbreviation}} - {{term.termName}} ({{term.academicYear}})
            </mat-panel-title>
            <mat-panel-description>
              <span *ngFor="let date of term.termDates; let isLastRoom = last">
                {{ date | date: 'dd.MM.yyyy'}}<span *ngIf="!isLastRoom">,&nbsp;</span>
              </span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <h5 class="m-b-10 m-t-15">Běhy:</h5>

          <mat-tab-group class="p-b-10" mat-align-tabs="start">
            <mat-tab *ngFor="let termRun of term.termRuns" [label]="termRun.startTime | date:'dd.MM.yyyy HH:mm'">
              <div class="grids-container">
                <div class="bold">Datum konání běhu:&nbsp;</div>
                <div>{{termRun.startTime | date:'dd.MM.yyyy'}}</div>

                <div class="bold">Čas konání:&nbsp;</div>
                <div>{{termRun.startTime | date:'HH:mm'}} - {{termRun.endTime | date:'HH:mm'}}</div>

                <div class="bold">Místnosti:&nbsp;</div>
                <div>
                  <span *ngFor="let room of termRun.rooms; let isLastRoom = last">
                    {{ room.abbreviation }}<span *ngIf="!isLastRoom">,&nbsp;</span>
                  </span>
                </div>
                <ng-container *ngIf="(isUserTermManager(term.managersEmails) | async) || isUserAdmin">
                  <div class="bold">Zadání:&nbsp;</div>
                  <div *ngIf="termRun.assignments && termRun.assignments.length > 0">
                    <a *ngFor="let assignment of termRun.assignments; let isLast = last"
                       routerLink="/assignments/{{assignment.assignmentId}}">
                      {{assignment.name}}<span *ngIf="!isLast">,&nbsp;</span>
                    </a>
                  </div>
                  <div *ngIf="!termRun.assignments || termRun.assignments.length === 0">
                    Doposud nepřiřazeno žádné zadání
                  </div>
                </ng-container>
              </div>
            </mat-tab>
          </mat-tab-group>

          <mat-action-row class="custom-margin">
            <button mat-raised-button color="primary" routerLink="/terms/{{term.termId}}">
              ROZSAZENÍ
            </button>
            <ng-container *ngIf="(isUserTermManager(term.managersEmails) | async) || isUserAdmin">
              <app-generate-assignment class="m-l-10"
                                       generateTooltipText="Vygenerovat zadání pro všechny běhy"
                                       downloadTooltipText="Stáhnout vygenerovaná zadání pro všechny běhy"
                                       [termId]="term.termId">
              </app-generate-assignment>
              <a mat-button color="accent" routerLink="/terms/{{term.termId}}/edit">
                EDITOVAT
              </a>
              <button mat-button color="warn" (click)="showConfirmDialog(term)"
                      appClickStopPropagation>
                ODSTRANIT
              </button>
            </ng-container>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>

      <ng-container *ngIf="filteredTerms.length == 0 && terms.length == 0">
        <h4 *ngIf="isUserEmployee || isUserAdmin; else notEmplOrAdm">Nespravujete žádný termín zkoušky</h4>
        <ng-template #notEmplOrAdm>
          <h4 *ngIf="isUserLoggedIn">Neúčastníte se žádného termínu zkoušky</h4>
          <h4 *ngIf="!isUserLoggedIn">Doposud nebyl vytvořen žádný termín zkoušky</h4>
        </ng-template>
      </ng-container>
      <h4 *ngIf="filteredTerms.length == 0 && terms.length != 0">
        Danému filtru neodpovídá žádný termín zkoušky
      </h4>
    </ng-template>
  </mat-card-content>
</mat-card>


