<mat-card class="main-card">
  <mat-card-content>
    <a class="close-icon-tr" routerLink="/">
      <mat-icon inline>close</mat-icon>
    </a>

    <div class="text-center">
      <img alt="fit logo" src="assets/images/logo-icon.png">
      <h3 class="title-text m-t-10">Přihlášení</h3>
    </div>

    <form [formGroup]="loginForm"
          (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Fakultní e-mailová adresa</mat-label>
          <input type="text" matInput placeholder="např. jmeno@domena.cz" formControlName="email" required>
          <mat-error *ngIf="email.errors?.email">
            Chybný formát
          </mat-error>
          <mat-error *ngIf="email.errors?.required">
            Chybějící údaj
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100" class="my-form-field">
          <mat-label>Heslo</mat-label>
          <input type="password" matInput autocomplete="on"
                 [type]="hidePassword ? 'password' : 'text'"
                 formControlName="password"
                 required>
          <button mat-icon-button matSuffix
                  tabindex="-1"
                  type="button"
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Skrýt heslo'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="password.errors?.required">
            Chybějící údaj <a class="link pull-right" routerLink="/auth/forgot-password">Zapomněli jste
            heslo?</a>
          </mat-error>
          <mat-hint align="end"><a class="link" routerLink="/auth/forgot-password">Zapomněli jste
            heslo?</a></mat-hint>
        </mat-form-field>

        <mat-checkbox color="primary" formControlName="rememberMe" fxFlex="100">Zapamatovat si přihlášení
        </mat-checkbox>

        <button type="submit" mat-raised-button color="primary"
                class="btn-block btn-lg m-t-20"
                fxFlex="100">PŘIHLÁSIT SE
        </button>

        <mat-divider inset class="m-t-20 m-b-20" fxFlex="100"></mat-divider>

        <span class="text-center" fxFlex="100">
          Nemáte účet? <a class="link" routerLink="/auth/register">Zaregistrujte se</a>
        </span>
      </div>
    </form>
  </mat-card-content>
</mat-card>
