.cell-container {
  display: grid;
  grid-column-gap: 2px;
  grid-row-gap: 12px;
  justify-content: center;
  max-width: unset !important;

  button {
    border: 0;
  }

  .row-column-number {
    place-self: center;
  }
}
