<div class="cell-container m-t-20 m-b-20" [ngStyle]="{
            'grid-template-rows': 'repeat(' + (numberOfRows + 1) + ', 29px)',
            'grid-template-columns': 'repeat(' + (numberOfColumns + 1) + ', 36px)'
            }">

  <!-- Empty corner in grid -->
  <div></div>

  <div class="font-medium row-column-number" *ngFor="let columnNumber of columnNumbers">
    {{ columnNumber }}
  </div>

  <!-- Rows are rendered in reverse order (last row is rendered first) -->
  <ng-container *ngFor="let i of [].constructor(numberOfRows); index as rowNumber">

    <div class="font-medium row-column-number">
      {{ rowNumbers[rowNumber] }}
    </div>

    <button type="button"
            *ngFor="let j of [].constructor(numberOfColumns); index as columnNumber"
            [ngClass]="{'AISLE': 'aisle', 'SEAT': 'seat', 'DESK': 'desk', 'BLOCKED': 'blocked', 'SELECTED': 'selected'}[inputCellMatrix[numberOfRows - rowNumber - 1][columnNumber].cellType]"
            (click)="onCellClick(inputCellMatrix[numberOfRows - rowNumber - 1][columnNumber])"
            [matTooltip]="inputCellMatrix[numberOfRows - rowNumber - 1][columnNumber]?.student ?
                inputCellMatrix[numberOfRows - rowNumber - 1][columnNumber]?.student.login + ' - ' + inputCellMatrix[numberOfRows - rowNumber - 1][columnNumber]?.student.nameAndDegrees : ''"
            [matTooltipDisabled]="!showHoverInfo">
      <ng-container *ngIf="showCellNumbers">
        {{inputCellMatrix[numberOfRows - rowNumber - 1][columnNumber]?.seatNumber}}
      </ng-container>
    </button>

  </ng-container>

</div>
