<mat-sidenav-container class="mat-drawer-container mat-sidenav-container">
  <mat-sidenav-content cdkScrollable class="mat-drawer-content mat-sidenav-content">
    <div class="auth-wrapper">
      <div class="auth-wrapper-box">
        <router-outlet>
          <!--          <app-load-spinner></app-load-spinner>-->
        </router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
