.mat-drawer-container {
  background-image: url('../../../assets/images/background/auth-wrapper-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;

  .auth-wrapper-box {
    margin: auto;
    vertical-align: middle;
  }
}
