<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container">
  <!-- ============================================================== -->
  <!-- Topbar - style you can find in menu.scss -->
  <!-- ============================================================== -->
  <mat-toolbar color="primary" class="topbar telative">
    <!-- ============================================================== -->
    <!-- sidebar toggle -->
    <!-- ============================================================== -->
    <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed" class="no-focus-overlay">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- ============================================================== -->
    <!-- Logo - style you can find in menu.scss -->
    <!-- ============================================================== -->
    <div class="navbar-header" fxShow="false" fxShow.gt-xs>
      <a class="navbar-brand" routerLink="/">
        <!-- Logo icon -->
        <div class="m-r-15 m-l-15">
          <img src="assets/images/logo-icon.png" alt="hlavní stránka" class="logo">
        </div>
        <!--End Logo icon -->
        <!-- Logo text -->
        <!--        <img src="assets/images/logo-text.png" alt="room" class="logo">-->
        <h2 class="logo m-r-5">Příprava zkoušek</h2>
      </a>
    </div>
    <span fxFlex></span>
    <!-- ============================================================== -->
    <!-- app menu component - style you can find in menu.scss / menu.component.ts-->
    <!-- ============================================================== -->
    <app-menu [isUserLoggedIn]="!!loggedUserInfo"></app-menu>
  </mat-toolbar>

  <!-- ============================================================== -->
  <!-- End Topbar - style you can find in pages.scss -->
  <!-- ============================================================== -->

  <!-- There was some problem with wrong sidebar margin-left size. With 'autosize' this problem was solved -->
  <mat-sidenav-container class="example-sidenav-container" autosize
                         [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <!-- ============================================================== -->
    <!-- Sidebar - style you can find in sidebar.scss -->
    <!-- ============================================================== -->
    <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs"
                 [mode]="mobileQuery.matches ? 'side' : 'over'"
                 fixedTopGap="0"
                 [opened]="mobileQuery.matches"
                 [disableClose]="mobileQuery.matches">
      <app-sidebar [loggedUserInfo]="loggedUserInfo"
                   (hide)="!mobileQuery.matches ? snav.toggle() : ''">
      </app-sidebar>


    </mat-sidenav>
    <!-- ============================================================== -->
    <!-- Sidebar - style you can find in sidebar.scss -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="page-wrapper">
      <app-breadcrumb-nav></app-breadcrumb-nav>
      <div class="page-content">

        <router-outlet>
<!--          <app-load-spinner></app-load-spinner>-->
        </router-outlet>

      </div>

    </mat-sidenav-content>
    <!-- ============================================================== -->
    <!-- Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
  </mat-sidenav-container>
</div>
