<h1 mat-dialog-title>Editace předmětu</h1>

<div mat-dialog-content>
  <form id="edit-form" class="m-t-20" [formGroup]="editCourseForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Zkratka předmětu</mat-label>
        <input type="text" matInput formControlName="abbreviation" required>
        <mat-error *ngIf="abbreviation.errors?.required">
          Chybějící hodnota
        </mat-error>
        <mat-error *ngIf="abbreviation.errors?.maxlength">
          Příliš dlouhý vstup
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Název předmětu</mat-label>
        <input type="text" matInput formControlName="name" required>
        <mat-error *ngIf="name.errors?.required">
          Chybějící hodnota
        </mat-error>
        <mat-error *ngIf="name.errors?.maxlength">
          Příliš dlouhý vstup
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Akademický rok</mat-label>
        <input type="number" matInput
               formControlName="academicYear"
               required>
        <mat-error *ngIf="academicYear.errors?.required">
          Chybějící hodnota
        </mat-error>
        <mat-error *ngIf="academicYear.errors?.min || academicYear.errors?.max">
          Neplatný rok (2000-2050)
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions class="pull-right">
  <button mat-button color="primary" mat-dialog-close>
    ZRUŠIT
  </button>
  <button mat-button color="accent" type="submit" form="edit-form"
          [disabled]="editCourseForm.invalid || editCourseForm.pristine">
    ULOŽIT
  </button>
</div>
