<ng-container *ngIf="isVisible">
  <mat-list-item *ngIf="category"
                 disableRipple>
    <div class="category text-muted">
      <span>{{ category.categoryName }}</span>
    </div>
  </mat-list-item>
  <mat-list-item *ngIf="menuItem"
                 routerLinkActive="selected"
                 [routerLinkActiveOptions]="{exact: true}"
                 (click)="hideSidebar()">
    <a [routerLink]="[menuItem.routerLink]">
      <mat-icon>{{ menuItem.icon }}</mat-icon>
      <span>{{ menuItem.menuName }}</span>
    </a>
  </mat-list-item>
</ng-container>
