<form [formGroup]="termInfoForm"
      *ngIf="!isLoading">
  <div class="subform-header">
    <div class="mat-step-icon">a</div>
    <h5>Udejte název termínu zkoušky a předmět, ke kterému předmětu se zkouška vztahuje</h5>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Název termínu zkoušky</mat-label>
    <input type="text" matInput
           formControlName="termName"
           required
           placeholder="Řádný termín">
    <mat-error *ngIf="termName.errors?.required">
      Chybějící hodnota
    </mat-error>
    <mat-error *ngIf="termName.errors?.maxlength">
      Příliš dlouhý vstup
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Předmět</mat-label>
    <mat-select formControlName="course"
                required
                (openedChange)="clearFilter($event)">
      <mat-form-field class="p-l-15 p-r-15 p-b-0">
        <mat-label>Vyhledat</mat-label>
        <input matInput (keyup)="onKey($event)" placeholder="Např. AVS">
      </mat-form-field>
      <mat-option *ngFor="let course of filteredCourses"
                  [value]="course.courseId">
        <span class="bold">{{course.abbreviation}}</span> - {{course.name}} ({{course.academicYear}})
      </mat-option>
      <mat-optgroup *ngIf="filteredCourses.length === 0">Nic nenalezeno</mat-optgroup>
    </mat-select>
    <mat-error *ngIf="course.errors?.required">
      Chybějící hodnota
    </mat-error>
  </mat-form-field>
</form>

<ng-container *ngIf="isLoading">
  <mat-spinner diameter="100" class="m-auto"></mat-spinner>
</ng-container>
