/* You can add global styles to this file, and also import other style files */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.overflow-auto {
  overflow: auto;
}

.mat-form-field-label {
  line-height: 20px !important;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex-basis: 0;
}

mat-card {
  overflow-x: auto;
}

mat-card-subtitle {
  margin-top: 5px !important;
  font-size: 15px !important;
}

mat-password-strength {
  .mat-progress-bar-fill::after {
    background-color: limegreen;
  }
}

mat-password-strength-info {
  .mat-card {
    .mat-card-content {
      padding: 16px;
    }
  }
}

.no-focus-overlay {
  .mat-button-focus-overlay {
    opacity: 0 !important;
  }
}

.data-table {
  .mat-sort-header-content {
    text-align: left !important;
  }

  .mat-row:hover {
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
  }
}

.aisle {
  background-color: whitesmoke !important;
}

.seat {
  background-color: orange !important;
}

.desk {
  background-color: sienna !important;
}

.blocked {
  background-color: bisque !important;
}

.selected {
  background-color: limegreen !important;
}

.room-plan-legend .mat-button-toggle-checked {
  color: white;
}

.no-data-cell {
  font-weight: 500;
}

.subform-header {
  display: flex;
  margin-bottom: 18px;
  margin-top: 22px;
  align-items: baseline;

  .mat-step-icon {
    color: white;
    background-color: #1e88e5;
    margin-right: 10px;
    padding: 0 6px;
    text-align: center;
    border-radius: 50%;
  }

  h5, h6 {
    margin: 0;
  }

  .line-space {
    margin-top: 10px;
  }
}

.file-input {
  display: none;
}

.upload-btn {
  padding-left: 12px;
}

.textarea-font {
  font-family: 'Roboto Mono', monospace !important;
}

.bold {
  font-weight: 500;
}

input, textarea {
  tab-size: 4;
}

.white-space-wrap {
  white-space: pre-wrap;
}

.info-table {
  margin: 24px 16px;
  font-size: 16px;
  border-collapse: collapse;

  td {
    border: 0 solid transparent;
    background-clip: padding-box;
  }

  tr > td + td {
    border-left-width: 20px;
  }

  tr + tr > td {
    border-top-width: 20px;
  }
}

.header {
  font-size: 17px;
}

.assignment-status-wrapper {
  button {
    cursor: default;
  }
}

mat-action-row.custom-margin {
  a, button {
    margin-left: 8px;
  }
}

.mat-step-header {
  pointer-events: none !important;
}

[hidden] {
  display: none !important;
}
