<mat-card>
  <mat-card-content>
    <mat-card-title>
      Seznam vámi spravovaných šablon zadání
    </mat-card-title>
    <mat-card-subtitle>
      Kliknutím na řádek tabulky zobrazíte stránku s podrobnějšími informacemi o dané šabloně
    </mat-card-subtitle>

    <a mat-raised-button color="primary"
       class="m-b-10"
       routerLink="/assignments/new">
      NOVÁ ŠABLONA
    </a>

    <ng-container *ngIf="isLoading else ready">
      <mat-spinner diameter="150" class="m-auto"></mat-spinner>
    </ng-container>


    <ng-template #ready>
      <mat-form-field>
        <mat-label>Vyhledat</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <div class="overflow-auto">
          <table mat-table [dataSource]="assignmentsDataSource" class="table data-table" matSort>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Název</th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Stav šablony zadání</th>
              <td mat-cell *matCellDef="let row" [ngSwitch]="row.status" class="assignment-status-wrapper">
                <button mat-flat-button disableRipple color="accent" *ngSwitchCase="'UPLOADED'">NAHRANÁ</button>
                <button mat-flat-button disableRipple color="warn" *ngSwitchCase="'LOCKED'">PROBÍHÁ GENEROVÁNÍ</button>
                <button mat-flat-button disableRipple color="warn" *ngSwitchCase="'EDITED'">UPRAVENÁ</button>
                <button mat-flat-button disableRipple color="accent" *ngSwitchCase="'GENERATED'">VYGENEROVÁNÁ</button>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Akce</th>
              <td mat-cell *matCellDef="let row">
                <ng-container>
                  <a mat-icon-button color="primary" routerLink="/assignments/{{row.assignmentId}}/edit">
                    <mat-icon>edit</mat-icon>
                  </a>
                  <button mat-icon-button color="warn" (click)="showConfirmDialog(row)"
                          appClickStopPropagation>
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-container>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="rowHeaderColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: rowHeaderColumns;" (click)="showAssignmentsDetails(row)"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell no-data-cell" [colSpan]="rowHeaderColumns.length">

                <ng-container
                  *ngIf="assignmentsDataSource.data.length === 0; then noData; else someData">
                </ng-container>

                <ng-template #noData>
                  Zatím nespravujete žádnou šablonu zadání
                </ng-template>
                <ng-template #someData>
                  Nenalezena žádná data odpovídající filtru "{{input.value}}"
                </ng-template>
              </td>
            </tr>
          </table>

        </div>
        <mat-paginator showFirstLastButtons
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>


