.mat-card {
  margin: 15px;
  border-radius: 10px;
}

.mat-form-field {
  width: 100%;
}

.my-form-field {
  margin-bottom: 0.5em !important;
}

.title-text {
  font-size: 25px;
}

.close-icon-tr {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;

  mat-icon {
    margin-top: 10px;
    margin-right: 5px;
    color: black;
    opacity: 0.5;
  }
}


