/*******************
Margins
*******************/
html body {
  .m-auto {
    margin: auto !important;
  }

  .m-l-auto {
    margin-left: auto !important;
  }

  .m-r-auto {
    margin-right: auto !important;
  }

  .m-t-auto {
    margin-top: auto !important;
  }

  .m-b-auto {
    margin-bottom: auto !important;
  }

  .m-0 {
    margin: 0 !important;
  }

  .m-5 {
    margin: 5px !important;
  }

  .m-10 {
    margin: 10px !important;
  }

  .m-15 {
    margin: 15px !important;
  }

  .m-20 {
    margin: 20px !important;
  }

  .m-25 {
    margin: 25px !important;
  }

  .m-30 {
    margin: 30px !important;
  }

  .m-35 {
    margin: 35px !important;
  }

  .m-40 {
    margin: 40px !important;
  }

  .m-l-0 {
    margin-left: 0 !important;
  }

  .m-l-5 {
    margin-left: 5px !important;
  }

  .m-l-10 {
    margin-left: 10px !important;
  }

  .m-l-15 {
    margin-left: 15px !important;
  }

  .m-l-20 {
    margin-left: 20px !important;
  }

  .m-l-25 {
    margin-left: 25px !important;
  }

  .m-l-30 {
    margin-left: 30px !important;
  }

  .m-l-35 {
    margin-left: 35px !important;
  }

  .m-l-40 {
    margin-left: 40px !important;
  }

  .m-r-0 {
    margin-right: 0 !important;
  }

  .m-r-5 {
    margin-right: 5px !important;
  }

  .m-r-10 {
    margin-right: 10px !important;
  }

  .m-r-15 {
    margin-right: 15px !important;
  }

  .m-r-20 {
    margin-right: 20px !important;
  }

  .m-r-25 {
    margin-right: 25px !important;
  }

  .m-r-30 {
    margin-right: 30px !important;
  }

  .m-r-35 {
    margin-right: 35px !important;
  }

  .m-r-40 {
    margin-right: 40px !important;
  }

  .m-t-0 {
    margin-top: 0 !important;
  }

  .m-t-5 {
    margin-top: 5px !important;
  }

  .m-t-10 {
    margin-top: 10px !important;
  }

  .m-t-15 {
    margin-top: 15px !important;
  }

  .m-t-20 {
    margin-top: 20px !important;
  }

  .m-t-25 {
    margin-top: 25px !important;
  }

  .m-t-30 {
    margin-top: 30px !important;
  }

  .m-t-35 {
    margin-top: 35px !important;
  }

  .m-t-40 {
    margin-top: 40px !important;
  }

  .m-b-0 {
    margin-bottom: 0 !important;
  }

  .m-b-5 {
    margin-bottom: 5px !important;
  }

  .m-b-10 {
    margin-bottom: 10px !important;
  }

  .m-b-15 {
    margin-bottom: 15px !important;
  }

  .m-b-20 {
    margin-bottom: 20px !important;
  }

  .m-b-25 {
    margin-bottom: 25px !important;
  }

  .m-b-30 {
    margin-bottom: 30px !important;
  }

  .m-b-35 {
    margin-bottom: 35px !important;
  }

  .m-b-40 {
    margin-bottom: 40px !important;
  }
}
