<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile">
  <!-- ============================================================== -->
  <!-- Profile - style you can find in menu.scss -->
  <!-- ============================================================== -->
  <div class="profile-text"
       *ngIf="loggedUserInfo">
    <div class="profile-text-wrapper">
      <span fittext maxFontSize="16">
        {{ loggedUserInfo.nameWithDegrees }}
      </span>
    </div>
  </div>

</div>
<mat-nav-list>
  <ng-container *ngFor="let category of menuItems">
    <app-menu-item [category]="category"></app-menu-item>
    <app-menu-item *ngFor="let menuitem of category.menuItems"
                   [menuItem]="menuitem"
                   (hide)="hideSidebar()">
    </app-menu-item>
  </ng-container>


</mat-nav-list>
