<h1 mat-dialog-title>Chyby při generování</h1>

<div mat-dialog-content>
  <div *ngFor="let fail of fails; let i = index, let isLast = last">
    <span class="f-w-400">Chyba při generování zadání pro studenta:&nbsp;</span> {{fail.testSchedule.login}}
    - {{fail.testSchedule.nameAndDegrees}}
    (sedadlo {{fail.testSchedule.seatNumber}})
    <p><span class="f-w-400">Chybový kód:&nbsp;</span>{{fail.errorCode}}</p>
    <p class="dialog-message"><span class="f-w-400">Chybová zpráva:&nbsp;</span>{{ fail.errorMessage }}</p>
    <button (click)="showLogFileContent(fail.testSchedule.testScheduleId, i)"
            *ngIf="fail.hasLogFile"
            color="primary"
            mat-stroked-button>
      ZOBRAZIT CHYBOVÝ LOG
    </button>
    <div *ngIf="displayLogFileContent[i]">
      <mat-form-field appearance="outline">
        <mat-label>Chybový log</mat-label>
        <textarea class="textarea-font" matInput
                  [value]="selectedFileContent[i]"
                  rows="10"
                  disabled>
      </textarea>
      </mat-form-field>
      <button (click)="hideSelectedFileContent(i)" color="accent" mat-stroked-button>
        SKRÝT
      </button>
    </div>
    <span *ngIf="!isLast">
      <mat-divider class="m-t-20 m-b-20"></mat-divider>
    </span>
  </div>
</div>

<div mat-dialog-actions class="pull-right">
  <button mat-button color="accent" mat-dialog-close>
    ZAVŘÍT
  </button>
</div>
