<mat-card>
  <mat-card-content>
    <ng-container *ngIf="!isLoading">
      <mat-card-title>
        {{assignmentDetails.name}}
      </mat-card-title>

      <div fxLayout="row wrap" fxLayoutAlign="space-between center"
           class="m-b-25">
        <div class="m-r-20">
          <span class="f-w-400">Spravují:</span>
          <a *ngFor="let manager of assignmentDetails.managers; let isLast = last"
             href="mailto:{{manager.email}}">
            {{manager.nameWithDegrees}}<span *ngIf="!isLast">,&nbsp;</span>
          </a>
        </div>
        <div>
          <a mat-raised-button color="primary"
             routerLink="./edit">
            <mat-icon>edit</mat-icon>
            EDITOVAT
          </a>
          <button mat-raised-button color="warn" class="m-l-15"
                  (click)="showConfirmDialog(assignmentDetails)">
            <mat-icon>delete</mat-icon>
            ODSTRANIT
          </button>
        </div>
      </div>

      <mat-divider inset class="m-t-20 m-b-20"></mat-divider>

      <h4 class="m-b-10">
        Stav šablony zadání
      </h4>

      <div [ngSwitch]="assignmentDetails.status" class="assignment-status-wrapper m-l-15">
        <button mat-flat-button disableRipple color="accent" *ngSwitchCase="'UPLOADED'">NAHRANÁ</button>
        <button mat-flat-button disableRipple color="warn" *ngSwitchCase="'LOCKED'">PROBÍHÁ GENEROVÁNÍ</button>
        <button mat-flat-button disableRipple color="warn" *ngSwitchCase="'EDITED'">UPRAVENÁ</button>
        <button mat-flat-button disableRipple color="accent" *ngSwitchCase="'GENERATED'">VYGENEROVÁNÁ</button>
      </div>

      <h4>
        Seznam souborů
      </h4>
      <div class="grids-container m-b-15" *ngIf="assignmentDetails.files.length > 0">
        <ng-container *ngFor="let file of assignmentDetails.files; let i = index, let isLast = last">
          <div>
            {{file.name}}
          </div>
          <div>
            {{file.size | filesize}}
          </div>
          <div>
            <button type="button" mat-button color="primary"
                    *ngIf="isEditableFile(file.name)"
                    (click)="showContent(file.name)">
              ZOBRAZIT OBSAH
            </button>
            <button type="button" mat-button color="primary"
                    *ngIf="!isEditableFile(file.name)"
                    (click)="downloadAssignmentFile(file.name)">
              STÁHNOUT SOUBOR
            </button>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <div *ngIf="selectedFileName">
      <mat-form-field appearance="outline">
        <mat-label>{{selectedFileName}}</mat-label>
        <textarea class="textarea-font" matInput
                  [value]="selectedFileContent"
                  rows="15"
                  disabled>
        </textarea>
      </mat-form-field>
      <button (click)="hideSelectedFile()" color="accent" mat-stroked-button>SKRÝT</button>
    </div>
    <ng-container *ngIf="isLoading">
      <mat-spinner diameter="150" class="m-auto"></mat-spinner>
    </ng-container>

  </mat-card-content>
</mat-card>


