.mat-form-field-disabled .mat-form-field-underline {
  height: 0;
}

.mat-input-element:disabled {
  color: inherit;
}

.grids-container {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 10px 35px;
  align-items: center;
  margin-left: 15px;
}
