<mat-card>
  <mat-card-content>
    <mat-vertical-stepper linear #stepper>
      <mat-step [completed]="false" label="Seznam studentů">
        <app-student-list-form #studentListFormComponent [edit]="edit"
                               (studentPlacementsChange)="studentPlacementsChange($event)"></app-student-list-form>
        <div>
          <mat-error *ngIf="studentListErrorMessage && studentListFormComponent.addMoreStudents"
                     class="m-b-15 m-t-5 bold">
            {{studentListErrorMessage}}
          </mat-error>
          <button (click)="nextStudentListButtonClick()"
                  color="accent" mat-stroked-button>
            DALŠÍ KROK
          </button>
        </div>
      </mat-step>

      <mat-step [completed]="false" label="Podrobnosti termínu zkoušky">
        <app-term-info-form #termInfoFormComponent></app-term-info-form>
        <div>
          <button mat-button matStepperPrevious>PŘEDCHOZÍ KROK</button>
          <button (click)="nextTermInfoButtonClick()"
                  color="accent" mat-stroked-button>
            DALŠÍ KROK
          </button>
        </div>
      </mat-step>

      <mat-step [completed]="false" label="Běhy zkoušky">
        <app-term-run-info-form #termRunInfoFormComponent
                                [edit]="edit"
                                [formFillData]="formFillData">
        </app-term-run-info-form>
        <div>
          <button mat-button matStepperPrevious>PŘEDCHOZÍ KROK</button>
          <button (click)="nextTermRunInfoButtonClick()"
                  color="accent" mat-stroked-button>
            DALŠÍ KROK
          </button>
        </div>
      </mat-step>

      <mat-step [completed]="false" label="Manuální usazení studentů (volitelné)">
        <app-manual-placement-form #manualPlacementFormComponent
                                   [edit]="edit"
                                   [formFillData]="formFillData">
        </app-manual-placement-form>
        <div>
          <button mat-button matStepperPrevious>PŘEDCHOZÍ KROK</button>
          <button (click)="nextManualPlacementButtonClick()"
                  color="accent" mat-stroked-button>
            DALŠÍ KROK
          </button>
        </div>
      </mat-step>

      <mat-step [completed]="false" label="Rozřazení a dodatečné informace">
        <app-distribution-and-info-form #distributionAndInfoFormComponent
                                        [edit]="edit">
        </app-distribution-and-info-form>
        <div>
          <button mat-button matStepperPrevious>PŘEDCHOZÍ KROK</button>
          <button (click)="nextDistributionAndInfoButtonClick()"
                  color="accent" mat-stroked-button>
            DALŠÍ KROK
          </button>
        </div>
      </mat-step>

      <mat-step label="Kontrola a dokončení">
        <ng-container *ngIf="isLoading">
          <mat-spinner diameter="180" class="m-auto"></mat-spinner>
        </ng-container>
        <ng-container *ngIf="!isLoading">
          <p class="bold" *ngIf="!edit">Zkontrolujte vyplněné údaje. Termín zkoušky vytvoříte kliknutím na tlačítko
            DOKONČIT</p>
          <ng-container *ngIf="edit">
            <p class="bold">Zkontrolujte vyplněné údaje. Změny uložíte kliknutím na tlačítko ULOŽIT ZMĚNY</p>
            <mat-error class="bold m-b-20">
              <b>UPOZORNĚNÍ:</b> Některé úpravy mohou způsobit změnu rozsazení studentů a bude zapotřebí znovu
              vygenerovat zadání.
            </mat-error>
          </ng-container>
          <div>
            <button mat-button matStepperPrevious>PŘEDCHOZÍ KROK</button>
            <button (click)="submitNewTermForm()"
                    color="accent" mat-stroked-button>
              {{edit ? 'ULOŽIT ZMĚNY' : 'DOKONČIT'}}
            </button>
          </div>
        </ng-container>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
