<mat-button-toggle-group #group="matButtonToggleGroup"
                         (change)="onValChange(group.value)"
                         [disabled]="!clickable"
                         [value]="defaultSelect">
  <mat-button-toggle value="AISLE" class="aisle">Ulička</mat-button-toggle>
  <mat-button-toggle value="SEAT" class="seat">Sedadlo</mat-button-toggle>
  <mat-button-toggle value="DESK" class="desk">Katedra</mat-button-toggle>
  <mat-button-toggle *ngIf="withBlocked" value="BLOCKED" class="blocked">Blokováné sedadlo</mat-button-toggle>
  <mat-button-toggle *ngIf="withSelected" value="SELECTED" class="selected">Označeno</mat-button-toggle>
  <mat-button-toggle *ngIf="withYourSeat" value="SELECTED" class="selected">Vaše místo</mat-button-toggle>
</mat-button-toggle-group>
